//! Colores, fuentes y tamanios
@use "./variable.scss" as *;

//! Mixin funcionales 
@use "./mixin.scss" as *;

body {
    color: var(--alternative);
    background-color: var(--main);
    width: 100%;

    .buttonhome {
        position: fixed;
        bottom: 2rem;
        right: 2vw;
        z-index: 500;
        transform: translateX(12rem);
        transition: .5s all;
        
        &__button{
            @include buttonStandar(var(--alternative), var(--main))
        }
    }

    .active-button {
        transform: translateX(0);
    }
}
