//! Colores, fuentes y tamanios
@use "./variable.scss" as *;

//! Mixin funcionales 
@use "./mixin.scss" as *;

body {
    background-color: var(--main);
    width: 100%;

    font-size: 1rem;
    font-family: var(--paragraph);
    color: var(--alternative);
    letter-spacing: .1rem;
    line-height: 1.6;

    
    //! Disenio para barra de scroll
    &::-webkit-scrollbar {
        width: .4rem;
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--first);
        border-radius: .4rem;
    }

    .buttonhome {
        position: fixed;
        bottom: 2rem;
        right: 2vw;
        z-index: 500;
        transform: translateX(12rem);
        transition: .5s all;
        
        &__button{
            @include buttonStandar(var(--alternative), var(--main))
        }
    }

    .active-button {
        transform: translateX(0);
    }

    main {
        overflow: hidden;
    }
}
