//! Colores, fuentes y tamanios
@use "./variable.scss"as *;

//! Mixin funcionales 
@use "./mixin.scss"as *;

//! Header de toda la pagina
header {
    width: 100%;
    height: 2rem;
    position: fixed;
    top: 2rem;
    padding: 0 7vw;
    @include flex(space-between, center, row);
    z-index: 500;

    //! Boton para cambiar el modo de oscuridad de la pagina
    .switch {
        @include flex(space-between, center, row);
        width: 4rem;
        height: 100%;
        padding: 0 .35rem;
        border-radius: 1.5rem;
        background-color: map-get($Colors, 'First');
        position: relative;
        cursor: pointer;

        //! Icono de la luna
        &__moon {
            width: 1.3rem;
            color: map-get($Colors, 'Principal');
        }

        //! Icono del sol
        &__sun {
            width: 1.3rem;
            color: map-get($Colors, 'Principal');
        }

        //! Circulo que se mueve e indica que modo esta actualmente
        &__label {
            width: 1.5rem;
            height: 1.5rem;
            border-radius: 50%;
            background-color: map-get($Colors, 'Principal');
            position: absolute;
            left: 5%;
            transition: .5s all;
            @include boxShadow();
        }

        //! Con esta clase lograre mover el circula de manera
        .move {
            left: 55%;
        }
    }

    .nav {
        @include flex(center, center, row);
    
        &__links {
            @include flex(center, center, row);
            background-color: map-get($Colors, 'Principal');;
            height: 2rem;
            padding: 0 1rem;
            border-radius: 1rem;
            position: relative;
            overflow: hidden;
    
            span {
                @include flex(center, center, row);
                font-family: map-get($Fonts, 'Paragraph');
                color: map-get($Colors, 'Alternative');
                letter-spacing: .1rem;
                transition: .5s;
                z-index: 5;
            }
    
            &::after {
                content: "";
                position: absolute;
                width: 10rem;
                height: 2.5rem;
                background-color: map-get($Colors, 'First');
                border-radius: 5rem;
                transform: translateX(-100%);
                transition: 1s all;
                z-index: 1;
            }
    
            &:hover span {
                color: map-get($Colors, 'Principal');
            }
    
            &:hover::after {
                transform: translateX(0);
            }
        }
    
        .hover {
    
            span {
                color: map-get($Colors, 'Principal');
            }
    
            &::after {
                transform: translateX(0);
            }
        }
    }
}
