//! Colores, fuentes y tamanios
@use "./variables.scss" as *;

//! Los Mixin - Funciones
@use "./mixin.scss" as *;

//! Key Frames - Animaciones
@use "./keyframe.scss" as *;

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75vw;
    margin: auto;
    padding-top: 5vh;

    &__switchbutton {
        outline: none;
        display: flex;
        gap: 0.4rem;
        align-items: center;
        justify-content: center;
        color: map-get($map: $Colors, $key: "Clear");

        &-sun {
            width: 1.2rem;
            height: 1.2rem;
        }

        &-moon {
            width: 1rem;
            height: 1rem;
        }

        &-checkbox {
            display: none;
        }

        &-label {
            display: inline-block;
            width: 2.7rem;
            height: 1.5rem;
            border-radius: 1rem;
            background-color: map-get($map: $Colors, $key: "Main One");
            position: relative;
            cursor: pointer;


            &::after {
                content: "";
                display: block;
                width: 1rem;
                height: 1rem;
                border-radius: 50%;
                background-color: map-get($map: $Colors, $key: "Clear");
                position: absolute;
                top: .25rem;
                left: .3rem;
                right: unset;
                transition: .2s ease all;
            }

            &.active {

                &::after {
                    left: unset;
                    right: .3rem;
                    background-color: map-get($map: $Colors, $key: "Black")
                }
            }

        }

    }

    &__icon {
        display: none;
    }

    &__enlace {
        display: flex;

        & a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 9rem;
            height: 2.5rem;
            text-decoration: none;
            font-size: 1rem;
            letter-spacing: 1.5px;
            font-family: map-get($map: $Fonts, $key: "First");
            color: map-get($map: $Colors, $key: "Clear");
            background: transparent;
            padding: 0.3rem 1rem;
            border-radius: .9rem;
            position: relative;
            cursor: pointer;
            overflow: hidden;
            z-index: 925;
            transition: .3s ease all;

            & span {
                position: relative;
                z-index: 980;
            }

            &::after {
                content: "";
                width: 100%;
                height: 320%;
                background: map-get($map: $Colors, $key: "Main One");
                position: absolute;
                z-index: 975;
                top: -320%;
                left: 0;
                transition: .6s ease-in-out all;
                border-radius: 0px 0px 300px 300px;

            }

            &:hover {
                color: map-get($map: $Colors, $key: "Dark");
            }

            &:hover::after {
                top: 0;
            }
        }

        .headline {
            display: none;
        }
    }
}