//! Colores, fuentes y tamanios
@use "./variables.scss" as *;

//! Los Mixin - Funciones
@use "./mixin.scss" as *;

//! Key Frames - Animaciones
@use "./keyframe.scss" as *;

.principal {
    width: 100%;
    height: 90vh;
    position: relative;

    &__biography {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 80%;
        gap: 5rem;

        &-profile {
            display: flex;
            justify-content: center;
            align-items: center;

            & img {
                width: 15rem;
            }
        }

        .headline {
            width: 100%;
            max-width: 50rem;

            &__greetings {
                font-family: map-get($map: $Fonts, $key: "First");
                color: map-get($map: $Colors, $key: "Clear");
                letter-spacing: 2px;
                font-size: 2rem;
            }

            &__name {
                font-family: map-get($map: $Fonts, $key: "First");
                color: map-get($map: $Colors, $key: "Clear");
                letter-spacing: 2px;
                font-size: 4rem;
                line-height: 1;
                margin-bottom: 2rem;

                & span {
                    font-family: map-get($map: $Fonts, $key: "Second");
                    color: map-get($map: $Colors, $key: "Main Two");
                    text-transform: uppercase;
                }
            }

            &__summary {
                font-family: map-get($map: $Fonts, $key: "First");
                color: map-get($map: $Colors, $key: "Second");
                max-width: 45rem;
                letter-spacing: 2px;
                font-size: 1rem;
                text-align: justify;
            }

            .Main One {
                color: map-get($map: $Colors, $key: "Main One");
            }

            &__container {
                display: flex;
                justify-content: flex-start;
                width: 100%;
                margin-top: 1rem;

                &-link {
                    @include Botones();
                }
            }
        }
    }

    &__slide {
        text-decoration: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        padding-bottom: 5vh;
        left: 50%;
        bottom: 0;
        z-index: 800;
        cursor: pointer;

        &-title {
            font-family: map-get($map: $Fonts, $key: "First");
            color: map-get($map: $Colors, $key: "Clear");
            font-size: 1rem;
            margin-bottom: 0.5rem;
        }

        &-image {
            color: map-get($map: $Colors, $key: "Clear");
            width: 1.5rem;
            height: 100%;
        }

        &:hover {
            transform: scale(1.05);
        }

    }

    &__container {
        width: 100%;
        height: 25%;
        position: absolute;
        left: 0;
        bottom: -1vh;
        z-index: 750;

        &-one {
            width: 100%;
            height: 100%;
            overflow: hidden;
            background-image: url(../media/images/wave_one.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position-x: 0%;
            animation: Move 300s infinite;
            position: absolute;
            bottom: 0;
        }

        &-two {
            width: 100%;
            height: 100%;
            overflow: hidden;
            background-image: url(../media/images/wave_two.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position-x: 0%;
            animation: Move 200s reverse infinite;
            position: absolute;
            bottom: 0;
        }

        &-three {
            width: 100%;
            height: 100%;
            overflow: hidden;
            background-image: url(../media/images/wave_three.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position-x: 0%;
            animation: Move 50s reverse infinite;
            position: absolute;
            bottom: 0;
        }
    }
}
