//! Animacion para el fondo de la section principal
@keyframes Move {
    0% {
        background-position-x: 1%;
    }

    50% {
        background-position-x: 100%;
    }

    100% {
        background-position-x: 1%;
    }
}

@keyframes Swipe {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(.2rem);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes SwipeSmall {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(.25rem);
    }

    100% {
        transform: translateX(0);
    }
}