// ! Colores, fuentes y tamanios
@use "./variables.scss"as *;

// ! Los Mixin - Funciones
@use "./mixin.scss"as *;

// ! Key Frames - Animaciones
@use "./keyframe.scss"as *;

//! 1328px
@media (max-width: map-get($Resolution, "Desktop")) {
    .principal {

        &__biography {

            .headline {

                &__name {
                    font-size: 2.8rem;
                }

                &__summary {
                    font-size: .8rem;
                }
            }
        }
    }

    .hability {

        &__about {
            width: 60%;

            &-title {
                font-size: 2rem;
            }

            &-summary {
                font-size: 0.8rem;
            }
        }

        &__skills {
            width: 40%;
            grid-template-columns: repeat(2, 7rem);
            grid-template-rows: repeat(3, 7rem);

            &-container {

                & h3 {
                    font-size: .8rem;
                }
            }

            .name {

                &__title {
                    font-size: 1rem;
                }

                &__summary {
                    font-size: 0.75rem;
                }
            }
        }
    }

    .project {

        &__profile {

            &-img {
                width: 8rem;
                height: 8rem;
            }

            &-error {
                height: 2.5rem;
            }

            &-text {
                height: 2.5rem;
            }

            &-name {
                font-size: 2rem;
            }

            &-link {
                font-size: .8rem;
            }

            &-description {
                font-size: .8rem;
            }

            &-follow {

                li {

                    svg {
                        width: 1rem;
                        height: 1rem;
                    }

                    h3 {
                        font-size: .8rem;
                    }

                    h4 {
                        font-size: .8rem;
                    }
                }
            }
        }

        &__container {

            &-cards {

                .card {
                    min-width: 32vw;
                    content: "32 2";
                }

            }

        }
    }
}

//! 1024px
@media (max-width: map-get($Resolution, "Laptop")) {

    .hability {


        &__skills {
            height: 75%;
            width: 40%;
            grid-template-columns: repeat(2, 6.5rem);
            grid-template-rows: repeat(3, 6.5rem);

            .name {

                &__title {
                    font-size: 1.1rem;
                }

                &__summary {
                    font-size: 0.7rem;
                }
            }
        }
    }

    .project {

        &__container {

            &-cards {

                .card {
                    min-width: 42vw;
                    content: "42 4";
                    margin-left: 4vw;
                }

            }
        }
    }
}

//! 960px
@media (max-width: map-get($Resolution, "TabletStandard")) {
    body {
        position: relative;

        .button {
            @include ButtonSmall();
        }
    }

    .header {
        width: 85vw;

        &__switchbutton {
            &-sun {
                width: 1.5rem;
                height: 1.5rem;
            }

            &-moon {
                width: 1.5rem;
                height: 1.5rem;
            }

            &-label {
                width: 3.5rem;
                height: 2rem;
                border-radius: 1.5rem;

                &::after {
                    width: 1.5rem;
                    height: 1.5rem;
                }
            }
        }

        &__icon {
            display: block;
            z-index: 950;
            color: map-get($map: $Colors, $key: "Clear");

            &-image {
                color: inherit;
                width: 2rem;
                height: 2rem;
            }
        }

        .open {
            position: absolute;
            width: 100%;
            height: 100vh;
            z-index: 925;
            clip-path: circle(200% at 100% 0%);
        }

        &__enlace {
            display: block;
            position: absolute;
            right: 0;
            top: 0;
            width: 100%;
            height: 100vh;
            padding-top: 20vh;
            z-index: 925;
            background-color: map-get($map: $Colors, $key: "Main One");
            clip-path: circle(0% at 100% 0%);
            transition: all 1s ease-in-out;

            & a {
                width: 90%;
                margin: auto;
                padding: 2rem 0;
                font-size: 2rem;
                border-radius: 2rem;
                transition: .3s ease all;

                span {
                    color: map-get($map: $Colors, $key: "Clear");
                }

                &::after {
                    background-color: map-get($map: $Colors, $key: "Dark");
                }

                &:hover {
                    color: map-get($map: $Colors, $key: "Black");
                }
            }

            .headline {
                display: flex;
                justify-content: center;
                position: absolute;
                bottom: 15vh;
                gap: 2rem;
                width: 100%;

                &__container {
                    z-index: 980;
                    gap: 1rem;

                    &-link {
                        margin: 0;
                        padding: 0;
                        width: 5rem;
                        height: 5rem;
                        border-radius: 50%;
                        overflow: hidden;
                        justify-content: center;
                        background-color: map-get($map: $Colors, $key: "Dark");

                        & svg {
                            width: 2rem;
                            height: 2rem;
                            margin: 0;
                        }

                        &::after {
                            content: none;
                        }
                    }
                }
            }
        }
    }

    .principal {
        height: 95vh;

        &__biography {
            flex-direction: column;
            gap: 1vh;

            .headline {

                &__greetings {
                    font-size: 2.2rem;
                }

                &__name {
                    font-size: 3.2rem;
                }

                &__container {
                    gap: 1rem;

                    &-link {
                        @include ButtonSmall()
                    }
                }
            }

            &-profile {

                & img {
                    width: 13rem;
                }
            }
        }

        &__slide {
            left: 45%;
        }
    }

    .hability {
        height: 100%;
        flex-direction: column;

        &__about {
            width: 100%;
            padding: 0;
            margin-bottom: 0;

            &-title {
                text-align: start;
                margin-top: 2rem;
                font-size: 2.5rem;
            }
        }

        &__skills {
            width: 100%;
            height: 100%;
            padding: 0;
            justify-items: center;
            grid-template-rows: repeat(2, 8rem);
            grid-template-columns: repeat(3, 8rem);
            justify-content: center;
            padding-top: 2rem;
            padding-bottom: 2rem;

            &-hover {
                padding: 1rem;
                width: 96%;
                height: 97%;
                transform: translateY(-102%);
            }

            .name {
                padding: 1rem;
                width: 96%;
                height: 97%;
                transform: translateY(0);


                &__title {
                    font-size: 1.5rem;
                    margin-bottom: 1rem;
                }

                &__summary {
                    font-size: 0.8rem;
                }

                &__process {
                    margin-top: .5rem;
                }
            }
        }
    }

    .project {

        &__profile {
            grid-template-areas:
                "Name Name"
                "Image Description"
                "Image Statistics"
                "Image Vacia";
            column-gap: 1rem;
            padding-top: 2rem;

            &-img {
                margin-top: 0.5rem;
            }

            &-error {
                text-align: center;
            }

            &-name {
                font-size: 2.5rem;
            }

            .submit {
                @include ButtonSmall();
            }

            &-link {
                font-size: 1rem;
            }
        }

        &__container {

            &-left {
                left: 7vw;
            }

            &-right {
                right: 6vw;
            }

            &-cards {

                .card {
                    min-width: 47vw;
                    content: "47 4";
                }

            }
        }
    }

}

//! 768px
@media (max-width: map-get($Resolution, "TabletSmall")) {
    .header {

        &__switchbutton {

            &-label {
                width: 3rem;
                height: 2rem;

                &::after {
                    width: 1.5rem;
                    height: 1.5rem;
                }
            }
        }

        &__enlace {
            & a {
                font-size: 1.8rem;
            }
        }
    }

    .principal {

        &__biography {
            .headline {

                &__greetings {
                    font-size: 2rem;
                }

                &__name {
                    font-size: 2.5rem;
                }

                &__summary {
                    font-size: .7rem;
                }
            }

            &-profile {

                & img {
                    width: 10rem;
                }
            }
        }

        &__container {
            height: 25%;
        }
    }

    .hability {

        &__about {

            &-title {
                margin-top: 0rem;
                margin-bottom: 1rem;
                font-size: 2rem;
            }

            &-summary {
                font-size: 0.7rem;
            }
        }

        &__skills {
            grid-template-rows: repeat(2, 6rem);
            grid-template-columns: repeat(3, 6rem);

            &-container {

                h3 {
                    font-size: .7rem;
                }
            }

            .name {

                &__summary {
                    font-size: 0.55rem;
                }

                &__process {
                    font-size: .6rem;
                }
            }
        }
    }

    .project {

        &__profile {
            column-gap: .5rem;

            &-img {
                width: 7rem;
                height: 7rem;
            }

            &-name {
                font-size: 2rem;
            }

            &-link {
                font-size: .7rem;
            }

            &-description {
                font-size: .7rem;
            }

            &-follow {

                li {
                    gap: .25rem;

                    svg {
                        width: .6rem;
                        height: .6rem;
                    }
                }
            }
        }

        &__container {

            &-left {
                left: 6vw;
            }

            &-right {
                right: 5vw;
            }

            &-cards {

                .card {
                    min-width: 52vw;
                    content: "52 4";
                }

            }
        }
    }
}

//! 600px
@media (max-width: map-get($Resolution, "TabletMini")) {
    .project {

        &__profile {
            grid-template-areas:
                "Name Name"
                "Image Description"
                "Image Statistics"
                "Image Vacia"
                "Especial Especial";

            &-link {
                grid-area: Especial;
                display: contents;
            }

            &-name {
                max-width: 85%;
            }

            &-follow {
                margin-bottom: .5rem;
                column-gap: 2rem;

                li {

                    svg {
                        width: 1rem;
                        height: 1rem;
                    }

                    .title {
                        display: none;
                    }
                }
            }
        }

        &__container {

            &-left {
                left: 4vw;
            }

            &-right {
                right: 3vw;
            }

            &-cards {

                .card {
                    min-width: 62vw;
                    content: "62 4";
                }

            }
        }
    }
}

//! 480px
@media (max-width: map-get($Resolution, "MovilStandard")) {

    .principal {

        &__biography {

            .headline {
                &__greetings {
                    font-size: 1.7rem;
                }

                &__name {
                    font-size: 2rem;
                }

                &__summary {
                    text-align: start;
                }
            }
        }

        &__slide {

            &-title {
                font-size: .7rem;
            }

            &-image {
                width: 1rem;
            }
        }
    }

    .hability {

        &__about {

            &-title {
                font-size: 1.7rem;
            }
        }

        &__skills {
            height: 22rem;
            grid-template-rows: repeat(2, 4.5rem);
            grid-template-columns: repeat(3, 4.5rem);
            gap: 1rem;
            row-gap: 2rem;

            &-hover {
                padding: .5rem;
            }

            .name {
                padding: .5rem;

                &__icon {
                    width: 1rem;
                    height: 1rem;
                    margin-right: .5rem;
                }

                &__title {
                    font-size: 1rem;
                    margin-bottom: .5rem;
                }

                &__process {
                    font-size: .6rem;
                }

                &__quantity {
                    height: 0.3rem;
                }
            }
        }
    }

    .project {

        &__profile {
            margin-bottom: .5rem;

            &-img {
                width: 4rem;
                height: 4rem;
            }

            &-error {
                font-size: .7rem;
                height: 2rem;
            }

            &-text {
                font-size: .7rem;
                height: 2rem;
            }

            &-name {
                font-size: 1.7rem;
                margin: 0;
            }

            .submit {
                @include ButtonSmall();
                width: 2rem;
                height: 2rem;

                & svg {
                    width: .7rem;
                    height: .7rem;
                }
            }

            &-link {
                font-size: .7rem;
            }

            &-follow {
                column-gap: 1rem;

                li {
                    margin-right: .5rem;

                    svg {
                        width: .7rem;
                        height: .7rem;
                    }

                    h3 {
                        font-size: .7rem;
                    }

                    h4 {
                        font-size: .7rem;
                    }
                }
            }

        }

        &__container {
            padding: 0;

            &-left {
                left: 0vw;
            }

            &-right {
                right: 0vw;
            }

            &-cards {

                .card {
                    margin-left: 4vw;
                    min-width: 75vw;
                    content: "75 4";
                    box-shadow: none;
                    height: 35rem;

                    &__container {

                        &-title {

                            &-name {
                                font-size: 1.7rem;
                            }

                            &-statistics {

                                h6 {
                                    font-size: .7rem;
                                }

                                svg {
                                    width: 1rem;
                                    height: 1rem;
                                }
                            }
                        }

                        &-paragraph {
                            font-size: .7rem;
                        }

                        &-link {

                            .link__githud {
                                @include ButtonSmall();
                            }
                        }
                    }
                }

            }
        }
    }
}

//! 375px
@media (max-width: map-get($Resolution, "MovilSmall")) {

    body {

        .button {
            width: 2.8rem;
            height: 2.8rem;
        }
    }

    .header {

        &__switchbutton {
            &-sun {
                width: 1.2rem;
                height: 1.2rem;
            }

            &-moon {
                width: 1.2rem;
                height: 1.2rem;
            }

            &-label {
                width: 3rem;
                height: 1.7rem;

                &::after {
                    width: 1.2rem;
                    height: 1.2rem;
                }
            }
        }

        &__icon {
            &-image {
                width: 1.5rem;
                height: 1.5rem;
            }
        }

        &__enlace {
            & a {
                font-size: 1.2rem;
            }
        }
    }

    .principal {

        &__biography {

            .headline {
                &__greetings {
                    font-size: 1.2rem;
                }

                &__name {
                    font-size: 1.8rem;
                }

                &__summary {
                    font-size: .6rem;
                }

                &__container {

                    &-link {
                        width: 2.8rem;
                        height: 2.8rem;

                        & svg {
                            width: 1rem;
                            height: 1rem;
                        }
                    }
                }
            }

            &-profile {

                & img {
                    width: 8rem;
                }
            }
        }

        &__container {
            height: 25%;
        }
    }

    .hability {

        &__about {

            &-title {
                font-size: 1rem;
            }

            &-summary {
                font-size: .6rem;
            }
        }

        &__skills {
            grid-template-rows: repeat(2, 3.5rem);
            grid-template-columns: repeat(3, 3.5rem);

            &-container {

                h3 {
                    font-size: .5rem;
                }
            }

            &-hover {
                padding: .8rem;
            }

            .name {
                padding: .8rem;

                &__title {
                    font-size: .8rem;
                }

                &__summary {
                    font-size: 0.55rem;
                }

                &__process {
                    font-size: .4rem;
                }

                &__quantity {
                    height: 0.3rem;
                }
            }
        }
    }

    .project {

        &__container {
            height: 35rem;
            padding: 0;

            &-cards {

                .card {
                    height: 33rem;
                }
            }
        }
    }
}