//! Colores, fuentes y tamanios
@use "./variable.scss"as *;

//! Mixin funcionales 
@use "./mixin.scss"as *;

//! Key Frames - Animaciones
@use "./keyframe.scss"as *;

@media (min-width: 2000px) {
    .project {

        &__projects {

            .cards {

                &__container {

                    &-card {
                        width: 15.7vw;
                    }
                }
            }
        }

    }
}

@media (max-width: 1328px) {

    .home {

        &__biography {

            &-profile {
                width: 20rem;
            }
        }

    }

    .about {
        height: 100%;

        &__hability {
            padding-top: 0;
            height: 100%;
        }

        &__container {
            position: static;
        }
    }

    .project {

        &__projects {

            .cards {

                &__container {

                    &-card {
                        width: 27.15vw;
                    }
                }
            }
        }

    }
}

//! 1024px
@media (max-width: 1024px) {

    .home__biography {
        column-gap: 3rem;

        &-profile {
            width: 20rem;
        }

        .headline__text-name {
            font-size: 2.5rem;

            span {
                font-size: 3rem;
            }
        }

        .headline__text-summary {
            color: var(--three);
            font-family: var(--paragraph);
            font-size: .8rem;
        }

        .headline__container {
            column-gap: 1rem;
        }
    }

    .about {
        height: 100%;

        &__hability {
            padding-top: 0;
            height: 100%;

            &-information {

                &-paragraph {
                    font-size: .8rem;
                }
            }

            .skills {
                grid-template-columns: repeat(auto-fit, minmax(7rem, 8rem));
                grid-template-rows: repeat(auto-fit, minmax(7rem, 8rem));

                &__information {

                    &-header {

                        h3 {
                            font-size: 1.5rem;
                        }
                    }

                    &-content {

                        p {
                            font-size: .8rem;
                        }
                    }
                }
            }
        }

        &__container {
            position: static;
        }
    }

    .project {

        &__projects {

            .cards {

                &__container {

                    &-card {
                        width: 41vw;
                    }
                }
            }
        }

    }

}

//! 960px
@media (max-width: 960px) {

    //! Header de toda la pagina
    header {

        .nav {
            display: block;
            position: absolute;
            right: 0;
            top: -2rem;
            width: fit-content;
            height: 100vh;
            @include flex(flex-start, flex-end, column);
            row-gap: 2rem;
            padding: 2rem 7vw 50% 6rem;
            z-index: 925;
            background-color: var(--firstDark);
            clip-path: circle(0% at 100% 0%);
            transition: all 1s ease-in-out;

            &__close {
                display: block;
                height: 2rem;
                width: fit-content;
                color: var(--mainFixed);
                margin-bottom: 2rem;

                &:active {
                    color: var(--alternativeFixed);
                }
            }

            &__section {
                @include flex(center, center, row);
                background-color: transparent;
                height: 2rem;
                padding: 0 1rem;
                border-radius: 1rem;
                position: relative;
                overflow: hidden;
                padding: 0;

                span {
                    font-size: 1.5rem;
                    color: var(--mainFixed);
                    padding: 0 .5rem;
                }

                &:hover::after {
                    content: none;
                }

                &:active span {
                    color: var(--alternativeFixed);
                }
            }

            &__container {
                @include flex(center, center, row);
                column-gap: 2rem;
                position: absolute;
                bottom: 3rem;
                left: 1rem;
                width: calc(100% - 2rem);

                &-links {
                    @include buttonStandar(var(--mainFixed), var(--alternativeFixed));
                    @include buttonSmall();
                }
            }
        }

        .active-menu {
            position: absolute;
            z-index: 925;
            clip-path: circle(200% at 100% 0%);
        }

        .menu {
            display: block;

            &__svg {
                width: 2rem;
                color: var(--alternative);
            }
        }
    }

    .home {

        &__biography {
            flex-direction: column;

            &-profile {
                width: 17rem;
            }

            .headline {

                &__text {
                    font-size: 1rem;

                    &-name {
                        font-size: 2rem;

                        span {
                            font-size: 3rem;
                        }
                    }

                    &-summary {
                        font-size: .8rem;
                    }

                }

                &__container {
                    column-gap: 1rem;
                }
            }
        }

        &__container {
            height: 15vh;
        }
    }
}

//! 768px
@media (max-width: 768px) {}

//! 600px
@media (max-width: 600px) {
    .home {

        &__biography {

            &-profile {
                width: 15rem;
            }

            .headline {

                &__text {
                    font-size: 1rem;

                    &-name {
                        font-size: 1.8rem;

                        span {
                            font-size: 2.5rem;
                        }
                    }

                    &-summary {
                        font-size: .8rem;
                    }

                }

                &__container {
                    column-gap: 1.5rem;

                    &-links {
                        @include buttonSmall()
                    }
                }
            }
        }
    }

    .project {

        &__projects {
            padding: 0 12vw;

            .cards {

                &__container {

                    &-card {
                        width: 76vw;
                    }
                }
            }
        }

    }
}

//! 480px
@media (max-width: 480px) {

    //! Header de toda la pagina
    header {

        .nav {
            width: 100%;

        }
    }

    .home {

        &__biography {
            row-gap: 1rem;

            &-profile {
                width: 13rem;
            }

            .headline {

                &__text {

                    &-name {
                        font-size: 1.5rem;

                        span {
                            font-size: 2rem;
                        }
                    }

                    &-summary {
                        font-size: .7rem;
                    }

                }
            }
        }
    }
}

//! 375px
@media (max-width: 375px) {
    .home {

        &__biography {

            .headline {

                &__text {
                    width: 16rem;
                }

                &__container {

                    &-links {
                        padding: .7rem;

                        .svg {
                            height: 1rem;
                        }
                    }
                }
            }
        }
    }
}