//! Colores, Letras y tamanio
@use "./variables.scss"as *;
   
@mixin Botones {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: .5rem;
    height: 2.5rem;
    width: 100%;
    max-width: 9rem;
    padding-left: 1rem;
    margin-right: 1rem;
    text-decoration: none;
    background-color: map-get($map: $Colors, $key: "Main Three");
    border-radius: 1rem;
    position: relative;
    cursor: pointer;
    color: map-get($map: $Colors, $key: "Clear");

    &:hover svg {
        opacity: 0;
        visibility: collapse;
    }

    &:hover .arrow {
        right: 1rem;
        opacity: 1;
        visibility: visible;
    }

    &:hover h3, h4 {
        position: absolute;
        left: 1rem;
    }

    & svg {
        max-width: 1.2rem;
        max-height: 1.2rem;
        visibility: visible;
        opacity: 1;
        transition: .5s ease-in-out all;
    }

    & h3, h4 {
        width: 100%;
        font-family: map-get($map: $Fonts, $key: "First");
        font-size: .8rem;
        letter-spacing: 2px;
        left: 3rem;
        transition: .8s ease-in-out all;
    }

    .arrow {
        width: .5em;
        height: 1rem;
        position: absolute;
        right: 10rem;
        opacity: 0;
        margin: 0;
        visibility: hidden;
        transition: .8s ease-in-out all;
    }
}

@mixin ButtonSmall {
    margin: 0;
    padding: 0;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    overflow: hidden;
    justify-content: center;

    &:hover {
        justify-content: center;
    }

    &:hover svg {
        opacity: 1;
        visibility: visible;
    }

    .red {
        width: 1.2rem;
        height: 1.2rem;
        margin: 0;
    }

    & svg {
        width: 1.5rem;
        height: 1.5rem;
        margin: 0;
    }

    & h3, h4 {
        display: none;
    }

    .arrow {
        display: none;
    }
}

@mixin Arrow {
    cursor: pointer;
    height: 2rem;
    width: 2rem;
    z-index: 12;
    color: map-get($map: $Colors, $key: "Clear");
}