//! Colores, fuentes y tamanios
@use "./variable.scss"as *;

@mixin flex($justific : center, $align : center, $direction : row) {
    display: flex;
    justify-content: $justific;
    align-items: $align;
    flex-direction: $direction;
}

@mixin boxShadow() {
    box-shadow: 0 5px 5px rgb(35, 37, 40, .4);
}

@mixin buttonStandar ($background, $color) {
    color: $color;
    overflow: hidden;
    position: relative;
    padding: .75rem 2rem .75rem 1rem;
    border-radius: 1rem;
    background-color: $background;
    @include boxShadow();
    @include flex (flex-start, center, row);
    column-gap: .5rem;

    .svg {
        width: 1rem;
        transition: 1s all;
    }

    .title {
        font-family: map-get($Fonts, 'Paragraph');
        font-size: .8rem;
        transition: 1s all;
    }

    .arrow {
        width: auto;
        height: 1rem;
        position: absolute;
        right: .75rem;
        opacity: 0;
        transition: 1s all;
        transform: translateX(-10rem);
    }

    &:hover .svg {
        opacity: 0;
        transform: translateX(-1.5rem);
    }

    &:hover .title {
        transform: translateX(-1.5rem);
    }

    &:hover .arrow {
        opacity: 1;
        transform: translateX(0);
    }
}

@mixin containerWave($direction : 0) {
    width: 100%;
    height: 25%;
    position: absolute;
    bottom: 0;
    transform: rotate($direction);

    &-one {
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-image: url(../media/images/wave_one.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: 0%;
        position: absolute;
        bottom: 0;
        animation: Move 100s infinite;
    }

    &-two {
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-image: url(../media/images/wave_two.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: 0%;
        position: absolute;
        bottom: 0;
        animation: Move 110s infinite reverse;
    }

    &-three {
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-image: url(../media/images/wave_three.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: 0%;
        position: absolute;
        bottom: 0;
        animation: Move 120s infinite alternate;
    }
}