//! Colores, fuentes y tamanios
@use "./variable.scss"as *;

//! Mixin funcionales 
@use "./mixin.scss"as *;

//! Key Frames - Animaciones
@use "./keyframe.scss"as *;

.project {
    width: 100%;
    height: 100%;
    @include flex(flex-start, center, column);
    row-gap: 2rem;

    &__profile {
        padding: 0 7vw;
        width: 100%;
        @include flex(flex-start, flex-start, column);
        row-gap: 2rem;

        .container {
            width: 100%;
            max-width: 60rem;
            display: grid;
            grid-template-areas:
                "Image User"
                "Image Description";
            grid-template-rows: 3rem 1fr;
            grid-template-columns: min-content;
            column-gap: 2rem;


            &__image {
                grid-area: Image;
                border-radius: 1.5rem;
                width: 12.5rem;
                height: 12.5rem;
                @include boxShadow(var(--opacityAlternative));
            }

            &__user {
                grid-area: User;
                @include flex(space-between, flex-start, row);
                position: relative;
                column-gap: 3rem;

                &-information {
                    @include flex(flex-start, center, row);
                    column-gap: 2rem;
                    overflow: hidden;

                    &-name {
                        font-family: var(--title);
                        font-size: 2rem;
                        letter-spacing: .1rem;
                        color: var(--first);
                    }

                    &-link {
                        text-decoration: underline;
                        font-family: var(--paragraph);
                        font-size: .8rem;
                        letter-spacing: .1rem;
                        color: var(--alternative);
                        cursor: pointer;
                    }
                }

                &-label {
                    @include buttonStandar(var(--alternative), var(--main));
                }

                &-input {
                    position: absolute;
                    font-family: var(--paragraph);
                    font-size: .8rem;
                    letter-spacing: .1rem;
                    color: var(--main);
                    background-color: var(--alternative);
                    height: 2.5rem;
                    width: 0;
                    border-radius: 1rem;
                    padding: 0;
                    outline: none;
                    transition: 1s all;
                    min-width: 0;
                    z-index: 10;

                    &::placeholder {
                        color: inherit;
                    }
                }

                .active-input {
                    padding: 0 2rem;
                    min-width: 15rem;
                }

                &-error {
                    position: absolute;
                    margin-left: 2rem;
                    font-family: var(--paragraphBig);
                    font-size: .8rem;
                    letter-spacing: .1rem;
                    color: var(--first);
                    display: none;
                    transition: .5s all;
                    z-index: 5;
                }

                .active {
                    display: inline-block;
                }

                .active-error {
                    transform: translateY(-2rem);
                }
            }

            &__description {
                grid-area: Description;
                @include flex(flex-start, flex-start, column);
                row-gap: 1rem;

                &-paragraph {
                    font-family: var(--paragraph);
                    font-size: .8rem;
                    letter-spacing: .1rem;
                    text-align: justify;
                    color: var(--alternative);
                    line-height: 1.6;
                }

                &-stadistic {
                    @include flex(flex-start, flex-start, row);
                    column-gap: 2rem;
                    flex-wrap: wrap;
                    row-gap: .5rem;

                    &-content {
                        @include flex(flex-start, flex-start, row);
                        column-gap: .5rem;

                        svg {
                            color: var(--alternative);
                            height: 1rem;
                            width: 1rem;
                        }

                        h4 {
                            color: var(--alternative);
                            font-family: var(--paragraph);
                            font-size: .8rem;
                            letter-spacing: .1rem;
                        }
                    }
                }
            }
        }
    }

    &__projects {
        padding: 0 7vw;
        width: 100%;
        height: 70%;
        position: relative;
        overflow: hidden;

        &-arrowleft {
            position: absolute;
            left: 4vw;
            top: 45%;
            cursor: pointer;
            transition: 2s all;
            opacity: 0;
            transform: translateX(-3vw);

            &:focus {
                outline: none;
            }

            &-icon {
                position: relative;
                height: 2rem;
            }

            &-iconsmall {
                height: 1.5rem;
                position: absolute;
                top: .25rem;
                left: -1rem;
            }
        }

        &-arrowright {
            position: absolute;
            right: 5vw;
            top: 45%;
            cursor: pointer;
            transition: 2s all;
            opacity: 0;
            transform: translateX(3vw);

            &:focus {
                outline: none;
            }

            &-icon {
                position: relative;
                height: 2rem;
                transition: 1s all;
            }

            &-iconsmall {
                height: 1.5rem;
                position: absolute;
                top: .25rem;
                left: 1rem;
                transition: 1s all;
            }

            .active-svg {
                transform: scaleX(-1);
            }
        }

        .active-arrow {
            opacity: 1;
            transform: translateX(0);
        }

        .cards {
            width: 100%;
            height: 100%;
            @include flex(flex-start, flex-start, column);
            row-gap: 1.5vw;
            overflow: hidden;
            position: relative;
            padding-bottom: 2rem;

            &:focus {
                outline: none;
            }

            //! El width se colocara directamente en el HTML mediante Javascript que evalua cuantas cards hay
            &__container {
                height: 16rem;
                @include flex(flex-start, flex-start, row);
                transition: 1s all;
                column-gap: 1.5vw;

                //! El tamanio de las cards es a base 100vw - 14vw (padding) - 4.5vw (column-gap internos entre las cards) / 4 (cards que se deben ver en tamanio de 1500px de pantalla)
                //! Cuantas cards se deben ver en cada pantalla sera cambiado con javascripts dinamicamente
                //! En resument la formula seria: Pantalla - Padding - Gap / Cards
                &-card {
                    width: 20vw;
                    height: 100%;
                    border-radius: 1.5rem;
                    overflow: hidden;
                    position: relative;
                    @include boxShadow(var(--opacityAlternative));
                    transform: translateY(5rem);
                    opacity: 0;
                    transition: .5s all;

                    .hover {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-color: var(--Opacity);
                        border-radius: 1.5rem;
                        @include flex(space-between, center, column);
                        padding: 1.5rem;
                        transition: .5s all;
                        transform: translateX(-100%);
                        z-index: 30;

                        &__information {
                            height: fit-content;
                            @include flex(flex-start, flex-start, column);
                            row-gap: 1rem;

                            &-paragraph {
                                font-family: var(--paragraph);
                                font-size: .7rem;
                                letter-spacing: .1rem;
                                line-height: 1.6;
                                color: var(--mainFixed);
                            }

                            .skills {
                                @include flex(flex-start, flex-start, row);
                                column-gap: 1rem;

                                &__container {
                                    width: 2.5rem;
                                    height: 2.5rem;
                                    border-radius: 50%;
                                    background-color: var(--second);
                                    @include flex(center, center, row);
                                    transition: .5s all;

                                    &-icon {
                                        width: 1.5rem;
                                        height: 1.5rem;
                                        color: var(--alternativeFixed);
                                    }

                                    &:hover {
                                        transform: scale(1.1);
                                        background-color: var(--secondDark);
                                    }
                                }
                            }

                        }

                        &__footer {
                            width: 100%;
                            @include flex(flex-end, flex-start, row);
                            column-gap: 1rem;

                            &-visit {
                                color: var(--alternativeFixed);
                                cursor: pointer;
                                overflow: hidden;
                                position: relative;
                                padding: .5rem 1rem .5rem .5rem;
                                border-radius: .7rem;
                                background-color: var(--second);
                                @include boxShadow(var(--opacityFixed));
                                @include flex (flex-start, center, row);
                                column-gap: .5rem;

                                .svg {
                                    width: fit-content;
                                    height: .6rem;
                                    transition: .4s all;
                                }

                                .title {
                                    font-family: var(--paragraph);
                                    font-size: .7rem;
                                    letter-spacing: .1rem;
                                    transition: .4s all;
                                }

                                .arrow {
                                    width: auto;
                                    height: .6rem;
                                    position: absolute;
                                    right: .75rem;
                                    opacity: 0;
                                    transition: .4s all;
                                    transform: translateX(-10rem);
                                }

                                &:hover .svg {
                                    opacity: 0;
                                    transform: translateX(-1.5rem);
                                }

                                &:hover .title {
                                    transform: translateX(-.8rem);
                                }

                                &:hover .arrow {
                                    opacity: 1;
                                    transform: translateX(0);
                                }
                            }

                            &-code {
                                color: var(--alternativeFixed);
                                cursor: pointer;
                                overflow: hidden;
                                position: relative;
                                padding: .5rem 1rem .5rem .5rem;
                                border-radius: .7rem;
                                background-color: var(--second);
                                @include boxShadow(var(--opacityFixed));
                                @include flex (flex-start, center, row);
                                column-gap: .5rem;

                                .svg {
                                    width: fit-content;
                                    height: .6rem;
                                    transition: .4s all;
                                }

                                .title {
                                    font-family: var(--paragraph);
                                    font-size: .7rem;
                                    letter-spacing: .1rem;
                                    transition: .4s all;
                                }

                                .arrow {
                                    width: auto;
                                    height: .6rem;
                                    position: absolute;
                                    right: .75rem;
                                    opacity: 0;
                                    transition: .4s all;
                                    transform: translateX(-10rem);
                                }

                                &:hover .svg {
                                    opacity: 0;
                                    transform: translateX(-1.5rem);
                                }

                                &:hover .title {
                                    transform: translateX(-.8rem);
                                }

                                &:hover .arrow {
                                    opacity: 1;
                                    transform: translateX(0);
                                }
                            }
                        }
                    }

                    &-image {
                        width: 100%;
                        height: 100%;
                    }

                    .name {
                        width: 100%;
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        @include flex(space-between, flex-start, row);
                        padding: 0 1.5rem 1.5rem 1.5rem;

                        &__title {
                            z-index: 30;
                            font-family: var(--paragraph);
                            letter-spacing: .1rem;
                            color: var(--mainFixed);
                        }

                        &__statistics {
                            z-index: 30;
                            @include flex (flex-start, flex-start, row);
                            column-gap: .5rem;

                            &-icon {
                                width: 1rem;
                                height: 1rem;
                                color: var(--mainFixed);
                            }

                            &-count {
                                font-family: var(--paragraph);
                                letter-spacing: .1rem;
                                color: var(--mainFixed);
                            }
                        }

                        &::before {
                            content: "";
                            width: 100%;
                            height: 8rem;
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            z-index: 20;
                            background: linear-gradient(180deg, transparent 0, var(--alternativeFixed) 100%);
                        }

                    }

                    &:hover .hover {
                        transform: translateX(0);
                    }
                }

                .observe {
                    transform: translateY(0);
                    opacity: 1;
                }
            }

            &:hover .observe:not(:hover) {
                transform: scale(.98);
            }

            &__error {
                margin: auto;
                @include flex(center, center, column);
                row-gap: 2rem;

                &-svg {
                    margin: auto;
                    width: 15rem;
                    color: var(--first);
                    filter: drop-shadow(0 5px 5px rgb(35, 37, 40, .4));
                }

                &-title {
                    font-family: var(--paragraphBig);
                    font-size: 1rem;
                    letter-spacing: .1rem;
                    color: var(--alternative);
                }
            }
        }
    }

    &__range {
        padding: 0 7vw;
        width: 100%;
        height: .25rem;
        position: relative;
        margin-bottom: 4rem;

        &-content {
            background-color: var(--first);
            border-radius: 1.5rem;
            height: 100%;
            position: relative;
            z-index: 10;
            transition: 1s all;

            &::after {
                content: "";
                width: .8rem;
                height: .8rem;
                border-radius: 50%;
                background-color: var(--first);
                position: absolute;
                top: -.25rem;
                right: 0;
            }

            &-count {
                width: 1.5rem;
                height: 1.5rem;
                border-radius: 50%;
                background-color: var(--first);
                position: absolute;
                right: -.3rem;
                top: -2rem;
                font-family: var(--paragraph);
                color: var(--mainFixed);
                font-size: .8rem;
                @include flex(center, center, row);
            }
        }

        &-container {
            background-color: #a7a7a7;
            border-radius: 1.5rem;
            width: 99%;
            height: 100%;
            transform: translateY(-.25rem);
        }
    }
}