// ! Colores, fuentes y tamanios
@use "./variables.scss"as *;

// ! Los Mixin - Funciones
@use "./mixin.scss"as *;

// ! Key Frames - Animaciones
@use "./keyframe.scss"as *;

.project {
    width: 100%;
    height: 100%;
    padding: 0 12.5vw;
    position: relative;

    &__profile {
        display: grid;
        grid-template-columns: max-content 1fr;
        grid-template-rows: max-content;
        grid-template-areas:
            "Image Name"
            "Image Description"
            "Image Statistics";
        width: 100%;
        column-gap: 2rem;
        margin-bottom: 2rem;
        padding-left: .5rem;
        color: map-get($map: $Colors, $key: "Clear");

        &-img {
            grid-area: Image;
            display: inline-block;
            width: 10rem;
            height: 10rem;
            border-radius: 20%;
            box-shadow: 0 0 10px 1px map-get($map: $Colors, $key: "Black");
        }

        &-error {
            grid-area: Name;
            width: 0;
            height: 3.4rem;
            padding: 0;
            font-size: 1rem;
            background-color: map-get($map: $Colors, $key: "Main One");
            font-family: map-get($map: $Fonts, $key: "First");
            color: map-get($map: $Colors, $key: "Dark");
            border-radius: 1rem;
            z-index: 400;
            align-self: center;
            transition: all .5s;
        }

        &-text {
            grid-area: Name;
            width: 0rem;
            padding: 0rem;
            height: 3.4rem;
            background-color: map-get($map: $Colors, $key: "Clear");
            font-family: map-get($map: $Fonts, $key: "First");
            color: map-get($map: $Colors, $key: "Dark");
            border-radius: 1rem;
            z-index: 450;
            outline: none;
            align-self: center;
            transition: all .5s;
        }

        &-name {
            grid-area: Name;
            z-index: 400;
            width: max-content;
            font-family: map-get($map: $Fonts, $key: "Second");
            color: map-get($map: $Colors, $key: "Main Two");
            font-size: 3rem;
            align-self: center;
        }

        &-link {
            grid-area: Name;
            font-family: map-get($map: $Fonts, $key: "First");
            color: inherit;
            font-size: .8rem;
            align-self: center;
        }

        .submit {
            grid-area: Name;
            align-self: center;
            justify-self: flex-end;
            @include Botones();
            margin: 0;
        }

        &-description {
            grid-area: Description;
            width: 100%;
            text-align: justify;
            font-family: map-get($map: $Fonts, $key: "First");
            font-size: 1rem;
            margin: .5rem 0;
        }

        &-follow {
            grid-area: Statistics;
            display: flex;
            flex-direction: row;
            align-self: center;

            li {
                display: flex;
                flex-direction: row;
                gap: .5rem;
                margin-right: 1.5rem;

                svg {
                    align-self: center;
                    width: 1rem;
                    height: 1rem;
                }

                h3 {
                    font-family: map-get($map: $Fonts, $key: "First");
                    font-size: 1rem;
                }

                h4 {
                    font-family: map-get($map: $Fonts, $key: "First");
                    font-size: 1rem;
                }
            }
        }

    }

    &__container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        overflow: hidden;
        height: 42rem;
        padding-top: 1rem;
        padding-left: .5rem;

        &-left {
            position: absolute;
            left: 8vw;
            z-index: 10;

            .arrow {
                @include Arrow;
                transform: rotate(90deg);
            }
        }

        &-right {
            position: absolute;
            right: 8vw;
            z-index: 10;

            .arrow {
                @include Arrow;
                transform: rotate(270deg);
                transition: all 1s;

                &-active {
                    transform: rotate(90deg);
                }
            }
        }

        &-cards {
            display: flex;
            flex-direction: row;
            align-self: center;
            transition: all 2s;
            padding: 2rem 0;

            .limited {
                width: 100%;
                height: 35rem;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                &__svg {
                    width: 10rem;
                    height: 10rem;
                    color: map-get($map: $Colors, $key: "Main Two");
                    margin-bottom: 1rem;
                }

                &__title {
                    font-family: map-get($map: $Fonts, $key: "Second");
                    color: map-get($map: $Colors, $key: "Clear");
                    font-size: 2rem;
                }
            }

            .card {
                width: 20vw;
                height: 40rem;
                border-radius: 1rem;
                overflow: hidden;
                position: relative;
                margin-left: 2vw;
                content: "20 2";
                transition: all 1s;
                background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 25%, map-get($map: $Colors, $key: "Dark Main One") -100%);
                box-shadow: 0 0 10px 1px map-get($map: $Colors, $key: "Black");

                &-active {
                    transform: translateY(-1rem);
                }

                &__image {
                    height: 25vh;
                    position: relative;

                    &-web {
                        width: 100%;
                        height: 100%;
                    }

                    &-active {
                        transition: .5s all;
                        opacity: 0;
                        display: flex;
                        position: absolute;
                        background: rgb(0, 0, 0, 0.5);
                        top: 0;
                        z-index: 4;
                        width: 100%;
                        height: 100%;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                        font-family: map-get($map: $Fonts, $key: "Second");
                        color: map-get($map: $Colors, $key: "Clear");

                        &:hover {
                            opacity: 1;
                        }
                    }

                    &-wave {
                        position: absolute;
                        z-index: 10;
                        bottom: -1px;
                        color: map-get($map: $Colors, $key: "Dark Main One");
                    }
                }

                &__container {
                    margin: 0 1rem;
                    overflow: hidden;

                    &-title {
                        margin-top: .5rem;
                        margin-bottom: 1rem;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;

                        &-name {
                            max-width: 85%;
                            font-size: 2rem;
                            font-family: map-get($map: $Fonts, $key: "Second");
                            color: map-get($map: $Colors, $key: "Clear");
                        }

                        &-statistics {
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            align-items: center;

                            svg {
                                width: 1.2rem;
                                height: 1.2rem;
                                color: map-get($map: $Colors, $key: "Dark");
                                margin-right: .2rem;
                            }

                            h4 {
                                font-size: 1rem;
                                font-family: map-get($map: $Fonts, $key: "First");
                                color: map-get($map: $Colors, $key: "Dark");
                            }
                        }
                    }

                    &-paragraph {
                        font-family: map-get($map: $Fonts, $key: "First");
                        color: map-get($map: $Colors, $key: "Clear");
                        font-size: .9rem;
                        line-height: 1.2rem;
                        text-align: justify;
                        margin-bottom: 1rem;
                    }

                    &-language {
                        display: flex;
                        flex-direction: row;
                        margin-bottom: .5rem;
                        column-gap: 1rem;

                        & a {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-radius: 50%;
                            width: 3rem;
                            height: 3rem;
                            background-color: map-get($map: $Colors, $key: "Dark");

                            & svg {
                                width: 1.5rem;
                                height: 1.5rem;
                                color: map-get($map: $Colors, $key: "Clear");
                            }

                            &:hover {
                                background-color: map-get($map: $Colors, $key: "Black");
                            }
                        }

                    }

                    &-link {
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;
                        position: absolute;
                        bottom: 2rem;
                        right: 1.5rem;

                        .link__githud {
                            @include Botones();
                            background-color: map-get($map: $Colors, $key: "Dark");
                            margin: 0;
                            width: 9rem;
                            height: 2.5rem;
                        }

                        .link__container {
                            display: flex;
                            flex-direction: column;
                            align-items: flex-end;
                            margin-right: .5rem;

                            &-statistics {
                                font-size: .8rem;
                                font-family: map-get($map: $Fonts, $key: "First");
                                color: map-get($map: $Colors, $key: "Clear");
                            }
                        }
                    }
                }

            }

        }
    }

    //! Barra de porcetaje de todas las tarjetas
/*     &__percentage {
        width: 100%;
        height: .3rem;
        position: relative;

        &-tower {
            appearance: none;
            -webkit-appearance: none;
            outline: none;
            margin-top: 2rem;
            width: 100%;
            height: 100%;
            border-radius: 1rem;
            background-color: map-get($map: $Colors, $key: "Clear");

            &::-webkit-slider-thumb {
                appearance: none;
                -webkit-appearance: none;
                width: 1.5rem;
                height: 1.5rem;
                cursor: pointer;
                position: relative;
                border-radius: 50%;
                z-index: 20;
                background-color: map-get($map: $Colors, $key: "Dark Main One");
            }
        }

        &-process {
            width: 50%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 10;
            border-radius: 1rem;
            background-color: map-get($map: $Colors, $key: "Dark Main One");
        }

    } */
}