@font-face {
    font-display: swap;
    font-family: Montserrat Bold;
    src: url(../media/fonts/montserrat_bold.ttf);
}

@font-face {
    font-display: swap;
    font-family: Montserrat Black;
    src: url(../media/fonts/montserrat_black.ttf);
}

@font-face {
    font-display: swap;
    font-family: Titan One;
    src: url(../media/fonts/titan_One.ttf);
}

// ! Variables
//! Colores
:root {
    --principal: #D8DBE2;
    --alternative: #232528;
    --mainFixed: #D8DBE2;
    --alternativeFixed: #232528;
    --first: #C92D2D;
    --firstDark: #942025;
    --second: #F2BB05;
    --three: #5a5a5a;

    //! Fuentes
    --paragraph: Montserrat Bold;
    --paragraphBig: Montserrat Black;
    --title: Titan One;

    //! Resolucion
    --movilSmall: 375px;
    --MovilStandard: 480px;
    --tabletMini: 600px;
    --tabletSmall: 768px;
    --tabletStandard: 960px;
    --laptop: 1024px;
    --desktop: 1328px;
}

:root.dark {
    --alternative: #D8DBE2;
    --principal: #232528;
}