@font-face {
    font-display: swap;
    font-family: Montserrat Bold;
    src: url(../media/fonts/montserrat_bold.ttf);
}

@font-face {
    font-display: swap;
    font-family: Montserrat Black;
    src: url(../media/fonts/montserrat_black.ttf);
}

@font-face {
    font-display: swap;
    font-family: Titan One;
    src: url(../media/fonts/titan_One.ttf);
}


// ! Variables
//! Colores
$Colors: (
    "Principal": #D8DBE2,
    "Alternative": #232528,
    "First": #C92D2D,
    "First Dark": #942025,
    "Second": #F2BB05,
    "Three": #5a5a5a,
);
//! Fuentes
$Fonts: (
    "Paragraph": Montserrat Bold,
    "Paragraph Big": Montserrat Black,
    "Title": Titan One,
);
//! Resolucion
$Resolution: (
    "MovilSmall": 375px,
    "MovilStandard": 480px,
    "TabletMini": 600px,
    "TabletSmall": 768px,
    "TabletStandard": 960px,
    "Laptop": 1024px,
    "Desktop": 1328px,
);