//! Fuentes
@font-face {
    font-display: swap;
    font-family: Secular Uno;
    src: url(../media/fonts/secular_uno.ttf);
}

@font-face {
    font-display: swap;
    font-family: Titan One;
    src: url(../media/fonts/titan_one.ttf);
}

// ! Variables
//! Colores
$Colors: (
    "Clear": #ffffff,
    "Dark": #232528,
    "Black": #000000,
    "Main One": #c82d2d,
    "Dark Main One": #AD1A20,
    "Main Two": #F5B82E,
    "Main Three": #3066be,
    "Dark Main Three": #295397,
    "Second": #bebebe,
);
//! Fuentes
$Fonts: (
    "First": Secular Uno,
    "Second": Titan One,
);
//! Resolucion
$Resolution: (
    "MovilSmall": 375px,
    "MovilStandard": 480px,
    "TabletMini": 600px,
    "TabletSmall": 768px,
    "TabletStandard": 960px,
    "Laptop": 1024px,
    "Desktop": 1328px,
);
