//TODO: Fuentes
@font-face {
    font-family: Secular Uno;
    src: url(../media/fonts/secular_uno.ttf);
}

@font-face {
    font-family: Titan One;
    src: url(../media/fonts/titan_one.ttf);
}

//TODO: Variables

//Colores
$Colors: ("White": #ffffff,
    "Grey": #9c9c9c,
    "Alice Blue": #eaf6ff,
    "Black": #000000,
    "Raisin Black": #232528,
    "Orange": #ffa400,
    "Grey Orange": #e07500,
    "Dark Orange": #a44700,
    "Red": #c92d2d,
    "Podria": #1EA896,
);

//Fuentes
$Fonts: ("Secular Uno": Secular Uno,
    "Titan One": Titan One,
);

// Resolucion
$Resolution: ("MovilSmall": 375px,
    "MovilStandard": 480px,
    "TabletSmall": 768px,
    "TabletStandard": 960px,
    "Laptop": 1024px,
    "Desktop": 1328px,
);

//TODO: Funciones

//TODO: Key Frames
@keyframes SwipeUp {
    0% {
        bottom: 0;
    }

    50% {
        bottom: 1%;
    }

    100% {
        bottom: 0;
    }
}

@keyframes Move {
    0% {
        background-position-x: 1%;
    }

    50% {
        background-position-x: 100%;
    }

    100% {
        background-position-x: 1%;
    }
}

//TODO: Principal
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100%;
    background-color: map-get($map: $Colors, $key: "Raisin Black");


    &::-webkit-scrollbar {
        width: 5px;
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: map-get($map: $Colors, $key: "Red");
        border-radius: 5px;
    }

    main {
        width: 100%;
        height: 100%;

        & .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 75vw;
            margin: auto;
            padding-top: 5vh;

            &__switchbutton {
                outline: none;
                display: flex;
                gap: 0.4rem;
                align-items: center;
                justify-content: center;

                &-sun {
                    width: 1rem;
                    height: 1rem;
                }

                &-moon {
                    width: 1rem;
                    height: 1rem;
                }

                &-checkbox {
                    display: none;
                }

                &-label {
                    display: inline-block;
                    width: 2.7rem;
                    height: 1.5rem;
                    border-radius: 1rem;
                    background-color: map-get($map: $Colors, $key: "Orange");
                    position: relative;
                    cursor: pointer;


                    &::after {
                        content: "";
                        display: block;
                        width: 1rem;
                        height: 1rem;
                        border-radius: 50%;
                        background-color: map-get($map: $Colors, $key: "White");
                        position: absolute;
                        top: .25rem;
                        left: .3rem;
                        right: unset;
                        box-shadow: 0px 0px 2px 2px map-get($map: $Colors, $key: "Black");
                        transition: .2s ease all;
                    }

                    &.active {
                        background-color: map-get($map: $Colors, $key: "Orange");

                        &::after {
                            left: unset;
                            right: .3rem;
                            background-color: map-get($map: $Colors, $key: "Black")
                        }
                    }
                }
            }

            &__icon {
                display: none;
            }

            &__enlace {
                display: flex;

                & a {
                    text-decoration: none;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    letter-spacing: 1.5px;
                    width: 100%;
                    font-family: map-get($map: $Fonts, $key: "Secular Uno");
                    color: map-get($map: $Colors, $key: "White");
                    background: transparent;
                    font-size: 1rem;
                    padding: 0.3rem 1rem;
                    border-radius: .2rem;
                    position: relative;
                    cursor: pointer;
                    overflow: hidden;
                    transition: .3s ease all;

                    & span {
                        position: relative;
                        z-index: 500;
                    }

                    &::after {
                        content: "";
                        width: 100%;
                        height: 320%;
                        background: map-get($map: $Colors, $key: "Orange");
                        position: absolute;
                        z-index: 450;
                        top: -110px;
                        left: 0;
                        transition: .6s ease-in-out all;
                        border-radius: 0px 0px 300px 300px;

                    }

                    &:hover {
                        color: map-get($map: $Colors, $key: "Raisin Black");
                    }

                    &:hover::after {
                        top: 0;
                    }
                }
            }
        }

        & .principal {
            width: 75%;
            height: 90vh;
            margin: auto;

            &__biography {
                display: flex;
                flex-direction: row;
                justify-content: center;
                gap: 5rem;
                padding-top: 10vh;

                &-title {
                    width: 100%;
                    max-width: 50rem;

                    &-greetings {
                        font-family: map-get($map: $Fonts, $key: "Secular Uno");
                        color: map-get($map: $Colors, $key: "White");
                        letter-spacing: 2px;
                        font-size: 2rem;
                    }

                    &-name {
                        font-family: map-get($map: $Fonts, $key: "Secular Uno");
                        color: map-get($map: $Colors, $key: "White");
                        letter-spacing: 2px;
                        font-size: 4rem;
                        line-height: 1;
                        margin-bottom: 2rem;

                        & span {
                            font-family: map-get($map: $Fonts, $key: "Titan One");
                            color: map-get($map: $Colors, $key: "Orange");
                            text-transform: uppercase;
                        }
                    }

                    &-summary {
                        font-family: map-get($map: $Fonts, $key: "Secular Uno");
                        color: map-get($map: $Colors, $key: "Grey");
                        max-width: 45rem;
                        letter-spacing: 2px;
                        font-size: 1rem;
                        text-align: justify;
                    }
                }

                & .red {
                    color: map-get($map: $Colors, $key: "Red");
                }

                &-profile {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    &-wave {
                        width: 15rem;
                    }
                }
            }

            &__slide {
                text-decoration: none;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                position: absolute;
                padding-bottom: 5vh;
                left: 50%;
                bottom: 0;
                z-index: 480;
                cursor: pointer;
                animation: SwipeUp 2s infinite;

                &-title {
                    font-family: map-get($map: $Fonts, $key: "Secular Uno");
                    color: map-get($map: $Colors, $key: "White");
                    font-size: 1rem;
                    margin-bottom: 0.5rem;
                }

                &-image {
                    width: 1.5rem;
                    height: 0.6rem;

                }

                &:hover {
                    transform: scale(1.1);
                }

            }

            &__container {
                width: 100%;
                height: 25%;
                position: absolute;
                left: 0;
                bottom: 0;
                z-index: 475;

                &-one {
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                    background-image: url(../media/images/wave_one.png);
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position-x: 0%;
                    animation: Move 500s infinite;
                    position: absolute;
                    bottom: 0;
                }

                &-two {
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                    background-image: url(../media/images/wave_two.png);
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position-x: 0%;
                    animation: Move 300s reverse infinite;
                    position: absolute;
                    bottom: 0;
                }

                &-three {
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                    background-image: url(../media/images/wave_three.png);
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position-x: 0%;
                    animation: Move 900s alternate infinite;
                    position: absolute;
                    bottom: 0;
                }
            }
        }

        & .hability {
            width: 100%;
            height: 100vh;
            background-color: map-get($map: $Colors, $key: "Dark Orange");
        }
    }
}

#dark {
    color: map-get($map: $Colors, $key: "Raisin Black");
}

@media (max-width: map-get($Resolution, "Laptop")) {
    body {
        main {
            & .principal {
                &__biography {
                    padding-top: 15vh;

                    &-title {

                        &-greetings {
                            font-size: 2rem;
                        }

                        &-name {
                            font-size: 3rem;
                        }

                        &-summary {
                            font-size: .8rem;
                        }
                    }

                    &-profile {
                        &-wave {
                            width: 10rem;
                        }
                    }
                }

                &__container {
                    bottom: -1vh;
                }
            }
        }
    }
}

@media (max-width: map-get($Resolution, "TabletStandard")) {

    body {
        main {
            & .header {
                width: 85vw;

                &__switchbutton {
                    &-sun {
                        width: 1.7rem;
                        height: 1.7rem;
                    }

                    &-moon {
                        width: 1.7rem;
                        height: 1.7rem;
                    }

                    &-label {
                        width: 4rem;
                        height: 2.5rem;
                        border-radius: 1.5rem;

                        &::after {
                            width: 1.9rem;
                            height: 1.9rem;
                        }
                    }
                }

                &__icon {
                    display: block;
                    z-index: 600;

                    &-image {
                        width: 2.5rem;
                        height: 2.5rem;
                    }
                }

                &__enlace {

                    &.active {
                        width: 100%;
                    }

                    display: block;
                    position: absolute;
                    right: 0;
                    top: 0;
                    width: 0;
                    height: 200vh;
                    padding-top: 20vh;
                    z-index: 550;
                    background-color: map-get($map: $Colors, $key: "Red");
                    transition: all 1s ease-in-out;

                    & a {
                        width: 70%;
                        margin: auto;
                        padding: 2rem 0;
                        font-size: 2rem;
                        transition: .3s ease all;

                        &::after {
                            content: none;
                        }

                        &:hover {
                            color: map-get($map: $Colors, $key: "Black");
                        }

                    }
                }
            }

            & .principal {
                width: 100%;
                height: 95vh;
                position: relative;

                &__biography {
                    width: 85vw;
                    display: flex;
                    flex-direction: column;
                    gap: 10vh;
                    margin: auto;
                    padding-top: 10vh;

                    &-title {
                        width: 100%;

                        &-greetings {
                            font-size: 2.5rem;
                        }

                        &-name {
                            font-size: 4rem;
                        }

                        &-summary {
                            max-width: 100%;
                            font-size: .8rem;
                        }
                    }

                    &-profile {

                        &-wave {
                            width: 10rem;
                        }
                    }
                }

                &__slide {
                    left: 45%;
                }
                &__container {
                    height: 30%;
                }
            }
        }
    }
}

@media (max-width: map-get($Resolution, "TabletSmall")) {

    body {
        main {
            & .header {
                &__switchbutton {
                    &-sun {
                        width: 1.5rem;
                        height: 1.5rem;
                    }

                    &-moon {
                        width: 1.5rem;
                        height: 1.5rem;
                    }

                    &-label {
                        width: 3rem;
                        height: 2rem;

                        &::after {
                            width: 1.5rem;
                            height: 1.5rem;
                        }
                    }
                }

                &__icon {
                    &-image {
                        width: 2rem;
                        height: 2rem;
                    }
                }

                &__enlace {
                    & a {
                        font-size: 1.5rem;
                    }
                }
            }

            & .principal {
                &__biography {
                    &-title {
                        &-greetings {
                            font-size: 2.5rem;
                        }

                        &-name {
                            font-size: 3rem;
                        }

                        &-summary {
                            max-width: 100%;
                            font-size: .8rem;
                        }
                    }

                    &-profile {

                        &-wave {
                            width: 10rem;
                        }
                    }
                }

                &__container {
                    height: 25%;
                }
            }
        }
    }
}

@media (max-width: map-get($Resolution, "MovilStandard")) {

    body {
        main {
            & .header {
                &__switchbutton {
                    &-sun {
                        width: 1.3rem;
                        height: 1.3rem;
                    }

                    &-moon {
                        width: 1.3rem;
                        height: 1.3rem;
                    }

                    &-label {
                        width: 3.5rem;
                        height: 2rem;

                        &::after {
                            width: 1.5rem;
                            height: 1.5rem;
                        }
                    }
                }
                &__icon {
                    &-image {
                        width: 2rem;
                        height: 2rem;
                    }
                }
                &__enlace {
                    & a {
                        font-size: 1.5rem;
                    }
                }
            }

            & .principal {
                &__biography {
                    gap: 7vh;
                    &-title {
                        &-greetings {
                            font-size: 1.3rem;
                        }

                        &-name {
                            font-size: 2.5rem;
                        }

                        &-summary {
                            font-size: .5rem;
                        }
                    }

                    &-profile {

                        &-wave {
                            width: 8rem;
                        }
                    }
                }

                &__container {
                    height: 25%;
                }
            }
        }
    }
}

@media (max-width: map-get($Resolution, "MovilSmall")) {

    body {
        main {
            & .header {
                width: 85vw;
                padding-top: 3vh;

                &__switchbutton {
                    &-sun {
                        width: 1.3rem;
                        height: 1.3rem;
                    }

                    &-moon {
                        width: 1.3rem;
                        height: 1.3rem;
                    }

                    &-label {
                        width: 3.5rem;
                        height: 2rem;

                        &::after {
                            width: 1.4rem;
                            height: 1.4rem;
                        }
                    }
                }

                &__icon {
                    &-image {
                        width: 2rem;
                        height: 2rem;
                    }
                }

                &__enlace {
                    & a {
                        font-size: 1.2rem;
                    }
                }
            }

            & .principal {

                &__biography {
                    padding-top: 8vh;

                    &-title {
                        &-greetings {
                            font-size: 1.5rem;
                        }

                        &-name {
                            font-size: 2rem;
                        }

                        &-summary {
                            font-size: .5rem;
                        }
                    }

                    &-profile {

                        &-wave {
                            width: 8rem;
                        }
                    }
                }

                &__container {
                    height: 25%;
                }
            }
        }
    }
}