:root {
  --negro: #393939;
  --tipo-principal: Helvetica, Arial, sans-serif;
  --tipo-secundaria: Verdana;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
}

*::before,
*::after {
  display: block;
}

img,
picture,
video,
iframe,
figure {
  width: 100%;
  display: block;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

p a {
  display: inline;
}

li {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  hyphens: auto;
  -webkit-hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  appearance: none;
}

table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--tipo-principal);
  color: var(--negro);
  -webkit-font-smoothing: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-display: swap;
  font-family: Montserrat Bold;
  src: url(../media/fonts/montserrat_bold.ttf);
}
@font-face {
  font-display: swap;
  font-family: Montserrat Black;
  src: url(../media/fonts/montserrat_black.ttf);
}
@font-face {
  font-display: swap;
  font-family: Titan One;
  src: url(../media/fonts/titan_One.ttf);
}
:root {
  --main: #D8DBE2;
  --alternative: #232528;
  --mainFixed: #D8DBE2;
  --alternativeFixed: #232528;
  --Opacity: rgb(35, 37, 40,.9);
  --opacityAlternative: rgb(35, 37, 40, .4);
  --opacityFixed: rgb(35, 37, 40,.4);
  --first: #C92D2D;
  --firstDark: #ad1a20;
  --second: #F2BB05;
  --secondDark: #d6a70b;
  --three: #5a5a5a;
  --paragraph: Montserrat Bold;
  --paragraphBig: Montserrat Black;
  --title: Titan One;
  --movilSmall: 375px;
  --MovilStandard: 480px;
  --tabletMini: 600px;
  --tabletSmall: 768px;
  --tabletStandard: 960px;
  --laptop: 1024px;
  --desktop: 1328px;
}

:root.dark {
  --main: #232528;
  --alternative: #D8DBE2;
  --opacityAlternative: rgb(216, 219, 226, .2);
}

body {
  color: var(--alternative);
  background-color: var(--main);
  width: 100%;
}
body::-webkit-scrollbar {
  width: 0.4rem;
  background: transparent;
}
body::-webkit-scrollbar-thumb {
  background-color: var(--first);
  border-radius: 0.4rem;
}
body .buttonhome {
  position: fixed;
  bottom: 2rem;
  right: 2vw;
  z-index: 500;
  transform: translateX(12rem);
  transition: 0.5s all;
}
body .buttonhome__button {
  color: var(--main);
  cursor: pointer;
  overflow: hidden;
  position: relative;
  padding: 0.75rem 2rem 0.75rem 1rem;
  border-radius: 1rem;
  background-color: var(--alternative);
  box-shadow: 0 5px 5px var(--opacityFixed);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  column-gap: 0.5rem;
}
body .buttonhome__button .svg {
  width: fit-content;
  height: 1rem;
  transition: 0.4s all;
}
body .buttonhome__button .title {
  font-family: var(--paragraph);
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  transition: 0.4s all;
}
body .buttonhome__button .arrow {
  width: auto;
  height: 1rem;
  position: absolute;
  right: 0.75rem;
  opacity: 0;
  transition: 0.4s all;
  transform: translateX(-10rem);
}
body .buttonhome__button:hover .svg {
  opacity: 0;
  transform: translateX(-1.5rem);
}
body .buttonhome__button:hover .title {
  transform: translateX(-1.5rem);
}
body .buttonhome__button:hover .arrow {
  opacity: 1;
  transform: translateX(0);
}
body .active-button {
  transform: translateX(0);
}
body main {
  overflow: hidden;
}

header {
  width: 100%;
  height: 2rem;
  position: absolute;
  top: 2rem;
  padding: 0 7vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  z-index: 500;
}
header .switch {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 4rem;
  height: 100%;
  padding: 0 0.35rem;
  border-radius: 1.5rem;
  background-color: var(--first);
  position: relative;
  cursor: pointer;
  box-shadow: 0 5px 5px var(--opacityFixed);
}
header .switch__moon {
  width: 1.3rem;
  color: var(--mainFixed);
}
header .switch__sun {
  width: 1.3rem;
  color: var(--mainFixed);
}
header .switch__label {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: var(--mainFixed);
  position: absolute;
  left: 5%;
  transition: 0.3s all;
  box-shadow: 0 5px 5px var(--opacityFixed);
}
header .switch .move {
  left: 55%;
}
header .nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  column-gap: 1rem;
}
header .nav__close {
  display: none;
}
header .nav__section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: var(--main);
  height: 2rem;
  padding: 0 1rem;
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
}
header .nav__section-svg {
  display: none;
}
header .nav__section span {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-family: var(--paragraph);
  color: var(--alternative);
  letter-spacing: 0.1rem;
  transition: 0.3s all;
  z-index: 5;
}
header .nav__section::after {
  content: "";
  position: absolute;
  width: 10rem;
  height: 2.5rem;
  background-color: var(--first);
  border-radius: 5rem;
  transform: translateX(-150%);
  transition: 0.6s all;
  z-index: 1;
}
header .nav__section:hover span {
  color: var(--main);
}
header .nav__section:hover::after {
  transform: translateX(0);
}
header .nav .hover span {
  color: var(--main);
}
header .nav .hover::after {
  transform: translateX(0);
}
header .nav__container {
  display: none;
}
header .menu {
  display: none;
}

@keyframes Move {
  0% {
    background-position-x: 1%;
  }
  50% {
    background-position-x: 100%;
  }
  100% {
    background-position-x: 1%;
  }
}
.home {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: var(--main);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.home__biography {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  column-gap: 4rem;
}
.home__biography-profile {
  width: 25rem;
}
.home__biography .headline {
  font-family: var(--paragraphBig);
  color: var(--alternative);
  letter-spacing: 0.1rem;
}
.home__biography .headline__text {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  column-gap: 0.5rem;
  margin-bottom: 2rem;
}
.home__biography .headline__text .red {
  color: var(--first);
}
.home__biography .headline__text-name {
  font-size: 3rem;
}
.home__biography .headline__text-name span {
  color: var(--first);
  font-family: var(--title);
  font-size: 4rem;
}
.home__biography .headline__text-summary {
  color: var(--three);
  font-family: var(--paragraph);
  font-size: 1rem;
}
.home__biography .headline__container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  column-gap: 2rem;
}
.home__biography .headline__container-links {
  color: var(--alternativeFixed);
  cursor: pointer;
  overflow: hidden;
  position: relative;
  padding: 0.75rem 2rem 0.75rem 1rem;
  border-radius: 1rem;
  background-color: var(--second);
  box-shadow: 0 5px 5px var(--opacityFixed);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  column-gap: 0.5rem;
  transition: 1s all;
  transform: translateY(1rem);
  opacity: 0;
}
.home__biography .headline__container-links .svg {
  width: fit-content;
  height: 1rem;
  transition: 0.4s all;
}
.home__biography .headline__container-links .title {
  font-family: var(--paragraph);
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  transition: 0.4s all;
}
.home__biography .headline__container-links .arrow {
  width: auto;
  height: 1rem;
  position: absolute;
  right: 0.75rem;
  opacity: 0;
  transition: 0.4s all;
  transform: translateX(-10rem);
}
.home__biography .headline__container-links:hover .svg {
  opacity: 0;
  transform: translateX(-1.5rem);
}
.home__biography .headline__container-links:hover .title {
  transform: translateX(-1.5rem);
}
.home__biography .headline__container-links:hover .arrow {
  opacity: 1;
  transform: translateX(0);
}
.home__biography .headline__container .observe-links {
  transform: translateY(0);
  opacity: 1;
}
.home__container {
  width: 100%;
  height: 25vh;
  position: absolute;
  bottom: 0;
  transform: rotate(0);
}
.home__container-one {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: url(../media/images/wave_one.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 0%;
  position: absolute;
  bottom: 0;
  animation: Move 100s infinite;
}
.home__container-two {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: url(../media/images/wave_two.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 0%;
  position: absolute;
  bottom: 0;
  animation: Move 110s infinite reverse;
}
.home__container-three {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: url(../media/images/wave_three.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 0%;
  position: absolute;
  bottom: 0;
  animation: Move 120s infinite alternate;
}

.about {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: var(--firstDark);
}
.about__hability {
  padding: 5rem 7vw 0 7vw;
  width: 100%;
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
}
.about__hability-information {
  width: 63%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 1rem;
  padding-right: 2rem;
}
.about__hability-information-title {
  width: 100%;
  text-align: end;
  font-family: var(--title);
  font-size: 3rem;
  letter-spacing: 0.1rem;
  color: var(--mainFixed);
}
.about__hability-information-paragraph {
  text-indent: 2rem;
  text-align: justify;
  font-family: var(--paragraph);
  font-size: 1rem;
  color: var(--mainFixed);
  letter-spacing: 0.1rem;
  line-height: 1.6;
}
.about__hability-information-paragraph span {
  color: var(--alternativeFixed);
}
.about__hability .skills {
  height: 100%;
  width: 37%;
  display: grid;
  justify-content: center;
  align-content: flex-start;
  grid-template-columns: repeat(auto-fit, minmax(7rem, 9rem));
  grid-template-rows: repeat(auto-fit, minmax(7rem, 9rem));
  gap: 2rem;
  overflow: hidden;
  position: relative;
  padding-top: 0.5rem;
}
.about__hability .skills .active {
  transform: translateX(2.5%);
}
.about__hability .skills__information {
  width: 95%;
  height: 100%;
  background-color: var(--alternativeFixed);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  row-gap: 2rem;
  padding: 2rem;
  border-radius: 1.5rem;
  position: absolute;
  z-index: 10;
  transform: translateX(-101%);
  transition: 0.5s all;
}
.about__hability .skills__information:focus {
  outline: none;
}
.about__hability .skills__information-header {
  width: 100%;
  height: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.about__hability .skills__information-header h3 {
  font-family: var(--title);
  font-size: 2rem;
  letter-spacing: 0.1rem;
  color: var(--mainFixed);
}
.about__hability .skills__information-header h3 span {
  color: var(--second);
}
.about__hability .skills__information-header svg {
  color: var(--mainFixed);
  height: 2rem;
  width: 2rem;
  cursor: pointer;
}
.about__hability .skills__information-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: column;
}
.about__hability .skills__information-content p {
  font-family: var(--paragraph);
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  color: var(--mainFixed);
  text-align: justify;
  line-height: 1.6;
}
.about__hability .skills__information-content a {
  text-decoration: none;
  font-family: var(--paragraph);
  font-size: 1rem;
  letter-spacing: 0.1rem;
  color: var(--mainFixed);
  text-align: end;
}
.about__hability .skills__container {
  overflow: hidden;
  border-radius: 1.5rem;
  position: relative;
  cursor: pointer;
  transition: 0.3s all;
  box-shadow: 0 5px 5px var(--opacityFixed);
  transform: translateX(5rem);
  opacity: 0;
  transition: 0.5s all;
}
.about__hability .skills__container-svg {
  color: var(--mainFixed);
  filter: drop-shadow(0 5px 5px rgba(35, 37, 40, 0.4));
}
.about__hability .skills__container-hover {
  position: absolute;
  top: -100%;
  background-color: var(--alternativeFixed);
  width: 100%;
  height: 100%;
  transition: 0.5s all;
  border-radius: 50%;
}
.about__hability .skills__container:hover .skills__container-hover {
  transform: translateY(8rem);
}
.about__hability .skills__container:hover {
  transform: scale(1.025);
}
.about__hability .skills .observe {
  transform: translateY(0);
  opacity: 1;
}
.about__container {
  background-color: var(--main);
  width: 100%;
  height: 25vh;
  position: absolute;
  bottom: 0;
  transform: rotate(180deg);
}
.about__container-one {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: url(../media/images/wave_one.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 0%;
  position: absolute;
  bottom: 0;
  animation: Move 100s infinite;
}
.about__container-two {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: url(../media/images/wave_two.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 0%;
  position: absolute;
  bottom: 0;
  animation: Move 110s infinite reverse;
}
.about__container-three {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: url(../media/images/wave_three.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 0%;
  position: absolute;
  bottom: 0;
  animation: Move 120s infinite alternate;
}

.project {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  row-gap: 2rem;
  padding-top: 2rem;
}
.project__profile {
  padding: 0 7vw;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  row-gap: 2rem;
}
.project__profile .container {
  display: grid;
  grid-template-areas: "Image User" "Image Description";
  grid-template-rows: 3rem 1fr;
  width: 100%;
  column-gap: 2rem;
}
.project__profile .container__image {
  grid-area: Image;
  border-radius: 1.5rem;
  width: 12.5rem;
  height: 12.5rem;
  box-shadow: 0 5px 5px var(--opacityAlternative);
}
.project__profile .container__user {
  grid-area: User;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  position: relative;
}
.project__profile .container__user-information {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  column-gap: 2rem;
  overflow: hidden;
}
.project__profile .container__user-information-name {
  font-family: var(--title);
  font-size: 2rem;
  letter-spacing: 0.1rem;
  color: var(--first);
}
.project__profile .container__user-information-link {
  text-decoration: none;
  font-family: var(--paragraph);
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  color: var(--alternative);
  cursor: pointer;
}
.project__profile .container__user-label {
  color: var(--main);
  cursor: pointer;
  overflow: hidden;
  position: relative;
  padding: 0.75rem 2rem 0.75rem 1rem;
  border-radius: 1rem;
  background-color: var(--alternative);
  box-shadow: 0 5px 5px var(--opacityFixed);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  column-gap: 0.5rem;
}
.project__profile .container__user-label .svg {
  width: fit-content;
  height: 1rem;
  transition: 0.4s all;
}
.project__profile .container__user-label .title {
  font-family: var(--paragraph);
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  transition: 0.4s all;
}
.project__profile .container__user-label .arrow {
  width: auto;
  height: 1rem;
  position: absolute;
  right: 0.75rem;
  opacity: 0;
  transition: 0.4s all;
  transform: translateX(-10rem);
}
.project__profile .container__user-label:hover .svg {
  opacity: 0;
  transform: translateX(-1.5rem);
}
.project__profile .container__user-label:hover .title {
  transform: translateX(-1.5rem);
}
.project__profile .container__user-label:hover .arrow {
  opacity: 1;
  transform: translateX(0);
}
.project__profile .container__user-input {
  position: absolute;
  font-family: var(--paragraph);
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  color: var(--main);
  background-color: var(--alternative);
  height: 2.5rem;
  width: 0;
  border-radius: 1rem;
  padding: 0;
  outline: none;
  transition: 1s all;
  min-width: 0;
  z-index: 10;
}
.project__profile .container__user-input::placeholder {
  color: inherit;
}
.project__profile .container__user .active-input {
  padding: 0 2rem;
  min-width: 15rem;
}
.project__profile .container__user-error {
  position: absolute;
  margin-left: 2rem;
  font-family: var(--paragraphBig);
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  color: var(--first);
  display: none;
  transition: 0.5s all;
  z-index: 5;
}
.project__profile .container__user .active {
  display: inline-block;
}
.project__profile .container__user .active-error {
  transform: translateY(-1rem);
}
.project__profile .container__description {
  grid-area: Description;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  row-gap: 1rem;
}
.project__profile .container__description-paragraph {
  font-family: var(--paragraph);
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  text-align: justify;
  color: var(--alternative);
  line-height: 1.6;
}
.project__profile .container__description-stadistic {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  column-gap: 2rem;
}
.project__profile .container__description-stadistic-content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  column-gap: 0.5rem;
}
.project__profile .container__description-stadistic-content svg {
  color: var(--alternative);
  height: 1rem;
  width: 1rem;
}
.project__profile .container__description-stadistic-content h4 {
  color: var(--alternative);
  font-family: var(--paragraph);
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
}
.project__projects {
  padding: 0 7vw;
  width: 100%;
  height: 60%;
  position: relative;
  overflow: hidden;
}
.project__projects-arrowleft {
  position: absolute;
  left: 5vw;
  top: 45%;
  cursor: pointer;
  transition: 2s all;
  opacity: 0;
  transform: translateX(-3vw);
}
.project__projects-arrowleft:focus {
  outline: none;
}
.project__projects-arrowleft-icon {
  position: relative;
  height: 2rem;
}
.project__projects-arrowleft-iconsmall {
  height: 1.5rem;
  position: absolute;
  top: 0.25rem;
  left: -1rem;
}
.project__projects-arrowright {
  position: absolute;
  right: 6vw;
  top: 45%;
  cursor: pointer;
  transition: 2s all;
  opacity: 0;
  transform: translateX(3vw);
}
.project__projects-arrowright:focus {
  outline: none;
}
.project__projects-arrowright-icon {
  position: relative;
  height: 2rem;
  transition: 1s all;
}
.project__projects-arrowright-iconsmall {
  height: 1.5rem;
  position: absolute;
  top: 0.25rem;
  left: 1rem;
  transition: 1s all;
}
.project__projects-arrowright .active-svg {
  transform: scaleX(-1);
}
.project__projects .active-arrow {
  opacity: 1;
  transform: translateX(0);
}
.project__projects .cards {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  row-gap: 1.5vw;
  overflow: hidden;
  position: relative;
}
.project__projects .cards:focus {
  outline: none;
}
.project__projects .cards__container {
  height: 46%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  transition: 1s all;
  column-gap: 1.5vw;
}
.project__projects .cards__container-card {
  width: 20vw;
  height: 100%;
  border-radius: 1.5rem;
  overflow: hidden;
  position: relative;
  box-shadow: 0 5px 5px var(--opacityAlternative);
  transform: translateY(5rem);
  opacity: 0;
  transition: 0.5s all;
}
.project__projects .cards__container-card .hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--Opacity);
  border-radius: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 1.5rem;
  transition: 0.5s all;
  transform: translateX(-100%);
}
.project__projects .cards__container-card .hover__information {
  height: fit-content;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  row-gap: 1rem;
}
.project__projects .cards__container-card .hover__information-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.project__projects .cards__container-card .hover__information-title-name {
  font-family: var(--title);
  font-size: 1rem;
  letter-spacing: 0.1rem;
  color: var(--mainFixed);
}
.project__projects .cards__container-card .hover__information-title-star {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  column-gap: 0.2rem;
}
.project__projects .cards__container-card .hover__information-title-star .icon {
  width: 1rem;
  color: var(--mainFixed);
}
.project__projects .cards__container-card .hover__information-title-star .count {
  font-family: var(--paragraph);
  font-size: 1rem;
  color: var(--mainFixed);
}
.project__projects .cards__container-card .hover__information-paragraph {
  font-family: var(--paragraph);
  font-size: 0.6rem;
  letter-spacing: 0.1rem;
  line-height: 1.6;
  color: var(--mainFixed);
}
.project__projects .cards__container-card .hover__information .skills {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  column-gap: 1rem;
}
.project__projects .cards__container-card .hover__information .skills__container {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: var(--second);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  transition: 0.5s all;
}
.project__projects .cards__container-card .hover__information .skills__container-icon {
  width: 1.5rem;
  height: 1.5rem;
  color: var(--alternativeFixed);
}
.project__projects .cards__container-card .hover__information .skills__container:hover {
  transform: scale(1.1);
  background-color: var(--secondDark);
}
.project__projects .cards__container-card .hover__footer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: row;
  column-gap: 1rem;
}
.project__projects .cards__container-card .hover__footer-visit {
  color: var(--alternativeFixed);
  cursor: pointer;
  overflow: hidden;
  position: relative;
  padding: 0.5rem 1rem 0.5rem 0.5rem;
  border-radius: 0.7rem;
  background-color: var(--second);
  box-shadow: 0 5px 5px var(--opacityFixed);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  column-gap: 0.5rem;
}
.project__projects .cards__container-card .hover__footer-visit .svg {
  width: fit-content;
  height: 0.6rem;
  transition: 0.4s all;
}
.project__projects .cards__container-card .hover__footer-visit .title {
  font-family: var(--paragraph);
  font-size: 0.6rem;
  letter-spacing: 0.1rem;
  transition: 0.4s all;
}
.project__projects .cards__container-card .hover__footer-visit .arrow {
  width: auto;
  height: 0.6rem;
  position: absolute;
  right: 0.75rem;
  opacity: 0;
  transition: 0.4s all;
  transform: translateX(-10rem);
}
.project__projects .cards__container-card .hover__footer-visit:hover .svg {
  opacity: 0;
  transform: translateX(-1.5rem);
}
.project__projects .cards__container-card .hover__footer-visit:hover .title {
  transform: translateX(-0.8rem);
}
.project__projects .cards__container-card .hover__footer-visit:hover .arrow {
  opacity: 1;
  transform: translateX(0);
}
.project__projects .cards__container-card .hover__footer-code {
  color: var(--alternativeFixed);
  cursor: pointer;
  overflow: hidden;
  position: relative;
  padding: 0.5rem 1rem 0.5rem 0.5rem;
  border-radius: 0.7rem;
  background-color: var(--second);
  box-shadow: 0 5px 5px var(--opacityFixed);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  column-gap: 0.5rem;
}
.project__projects .cards__container-card .hover__footer-code .svg {
  width: fit-content;
  height: 0.6rem;
  transition: 0.4s all;
}
.project__projects .cards__container-card .hover__footer-code .title {
  font-family: var(--paragraph);
  font-size: 0.6rem;
  letter-spacing: 0.1rem;
  transition: 0.4s all;
}
.project__projects .cards__container-card .hover__footer-code .arrow {
  width: auto;
  height: 0.6rem;
  position: absolute;
  right: 0.75rem;
  opacity: 0;
  transition: 0.4s all;
  transform: translateX(-10rem);
}
.project__projects .cards__container-card .hover__footer-code:hover .svg {
  opacity: 0;
  transform: translateX(-1.5rem);
}
.project__projects .cards__container-card .hover__footer-code:hover .title {
  transform: translateX(-0.8rem);
}
.project__projects .cards__container-card .hover__footer-code:hover .arrow {
  opacity: 1;
  transform: translateX(0);
}
.project__projects .cards__container-card-image {
  width: 100%;
  height: 100%;
}
.project__projects .cards__container-card:hover .hover {
  transform: translateX(0);
}
.project__projects .cards__container .observe {
  transform: translateY(0);
  opacity: 1;
}
.project__projects .cards__error {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 2rem;
}
.project__projects .cards__error-svg {
  margin: auto;
  width: 15rem;
  color: var(--first);
  filter: drop-shadow(0 5px 5px rgba(35, 37, 40, 0.4));
}
.project__projects .cards__error-title {
  font-family: var(--paragraphBig);
  font-size: 1rem;
  letter-spacing: 0.1rem;
  color: var(--alternative);
}
.project__range {
  padding: 0 7vw;
  width: 100%;
  height: 0.25rem;
  position: relative;
}
.project__range-content {
  background-color: var(--first);
  border-radius: 1.5rem;
  height: 100%;
  position: relative;
  z-index: 10;
  transition: 1s all;
}
.project__range-content::after {
  content: "";
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  background-color: var(--first);
  position: absolute;
  top: -0.25rem;
  right: 0;
}
.project__range-content-count {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: var(--first);
  position: absolute;
  right: -0.3rem;
  top: -2rem;
  font-family: var(--paragraph);
  color: var(--mainFixed);
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.project__range-container {
  background-color: #a7a7a7;
  border-radius: 1.5rem;
  width: 99%;
  height: 100%;
  transform: translateY(-0.25rem);
}

.contact {
  width: 100%;
  height: 100vh;
  position: relative;
}
.contact__information {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 0 7vw;
}
.contact__information .form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  row-gap: 1rem;
  width: 50%;
  z-index: 10;
}
.contact__information .form__title {
  font-family: var(--title);
  font-size: 2rem;
  letter-spacing: 0.1rem;
  color: var(--alternative);
  line-height: 1.6;
}
.contact__information .form__description {
  font-family: var(--paragraph);
  font-size: 1rem;
  letter-spacing: 0.1rem;
  color: var(--alternative);
  line-height: 1.6;
}
.contact__information .form__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 1rem;
  width: 100%;
  height: 100%;
  margin-top: 1rem;
}
.contact__information .form__content-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  column-gap: 1rem;
  width: 100%;
  position: relative;
}
.contact__information .form__content-header-name {
  background-color: var(--main);
  box-shadow: 0 5px 5px var(--opacityAlternative);
  border-radius: 1.5rem;
  height: 3rem;
  width: 100%;
  font-family: var(--paragraph);
  color: var(--alternative);
  font-size: 1rem;
  padding-left: 2rem;
  outline: none;
  z-index: 10;
}
.contact__information .form__content-header-name::placeholder {
  color: inherit;
}
.contact__information .form__content-header-errorname {
  position: absolute;
  left: 2rem;
  font-family: var(--paragraph);
  color: var(--first);
  font-size: 1rem;
  transform: translateY(0);
  transition: 1s all;
}
.contact__information .form__content-header-email {
  background-color: var(--main);
  box-shadow: 0 5px 5px var(--opacityAlternative);
  border-radius: 1.5rem;
  height: 3rem;
  width: 100%;
  font-family: var(--paragraph);
  color: var(--alternative);
  font-size: 1rem;
  padding-left: 2rem;
  outline: none;
}
.contact__information .form__content-header-email::placeholder {
  color: inherit;
}
.contact__information .form__content-messange {
  background-color: var(--main);
  box-shadow: 0 5px 5px var(--opacityAlternative);
  border-radius: 1.5rem;
  width: 100%;
  height: 20rem;
  font-family: var(--paragraph);
  color: var(--alternative);
  font-size: 1rem;
  padding-left: 2rem;
  padding-top: 2rem;
  text-align: justify;
  outline: none;
}
.contact__information .form__content-messange::placeholder {
  color: inherit;
}
.contact__information .form__content .error-active {
  transform: translateY(-2rem);
}
.contact__information .form__content-button {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.contact__information .form__content-button-submit {
  color: var(--alternativeFixed);
  cursor: pointer;
  overflow: hidden;
  position: relative;
  padding: 0.75rem 2rem 0.75rem 1rem;
  border-radius: 1rem;
  background-color: var(--second);
  box-shadow: 0 5px 5px var(--opacityFixed);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  column-gap: 0.5rem;
}
.contact__information .form__content-button-submit .svg {
  width: fit-content;
  height: 1rem;
  transition: 0.4s all;
}
.contact__information .form__content-button-submit .title {
  font-family: var(--paragraph);
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  transition: 0.4s all;
}
.contact__information .form__content-button-submit .arrow {
  width: auto;
  height: 1rem;
  position: absolute;
  right: 0.75rem;
  opacity: 0;
  transition: 0.4s all;
  transform: translateX(-10rem);
}
.contact__information .form__content-button-submit:hover .svg {
  opacity: 0;
  transform: translateX(-1.5rem);
}
.contact__information .form__content-button-submit:hover .title {
  transform: translateX(-1.5rem);
}
.contact__information .form__content-button-submit:hover .arrow {
  opacity: 1;
  transform: translateX(0);
}
.contact__information-maps {
  width: 40rem;
  height: 40rem;
  color: var(--first);
  border-radius: 50%;
  box-shadow: 0 5px 5px var(--opacityAlternative);
}
.contact__information-maps .leaflet-popup {
  margin-bottom: 2rem;
}
.contact__information-maps .leaflet-popup-content-wrapper, .contact__information-maps .leaflet-popup-tip {
  background-color: var(--alternative);
}
.contact__information-maps .leaflet-popup-content {
  font-size: 0.8rem;
  color: var(--main);
  font-family: var(--paragraph);
}
.contact__container {
  width: 100%;
  height: 25vh;
  position: absolute;
  bottom: 0;
  transform: rotate(0);
  height: 35vh;
}
.contact__container-one {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: url(../media/images/wave_one.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 0%;
  position: absolute;
  bottom: 0;
  animation: Move 100s infinite;
}
.contact__container-two {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: url(../media/images/wave_two.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 0%;
  position: absolute;
  bottom: 0;
  animation: Move 110s infinite reverse;
}
.contact__container-three {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: url(../media/images/wave_three.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 0%;
  position: absolute;
  bottom: 0;
  animation: Move 120s infinite alternate;
}
.contact__links {
  width: 100%;
  position: absolute;
  bottom: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  column-gap: 2rem;
}
.contact__links-link {
  color: var(--main);
  cursor: pointer;
  overflow: hidden;
  position: relative;
  padding: 0.75rem 2rem 0.75rem 1rem;
  border-radius: 1rem;
  background-color: var(--alternative);
  box-shadow: 0 5px 5px var(--opacityFixed);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  column-gap: 0.5rem;
  padding: 1rem;
  border-radius: 50%;
}
.contact__links-link .svg {
  width: fit-content;
  height: 1rem;
  transition: 0.4s all;
}
.contact__links-link .title {
  font-family: var(--paragraph);
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  transition: 0.4s all;
}
.contact__links-link .arrow {
  width: auto;
  height: 1rem;
  position: absolute;
  right: 0.75rem;
  opacity: 0;
  transition: 0.4s all;
  transform: translateX(-10rem);
}
.contact__links-link:hover .svg {
  opacity: 0;
  transform: translateX(-1.5rem);
}
.contact__links-link:hover .title {
  transform: translateX(-1.5rem);
}
.contact__links-link:hover .arrow {
  opacity: 1;
  transform: translateX(0);
}
.contact__links-link .svg {
  height: 1.5rem;
}
.contact__links-link .title {
  display: none;
}
.contact__links-link .arrow {
  display: none;
}
.contact__links-link:hover .svg {
  opacity: 1;
  transform: translateX(0);
}
.contact__links-link:active {
  filter: brightness(0.8);
}
.contact__footer {
  position: absolute;
  bottom: 2rem;
  width: 100%;
  text-align: center;
  font-family: var(--paragraph);
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  color: var(--mainFixed);
}

@media (max-width: 1328px) {
  .home__biography-profile {
    width: 20rem;
  }
  .about {
    height: 100%;
  }
  .about__hability {
    padding-top: 0;
    height: 100%;
  }
  .about__container {
    position: static;
  }
  .project__projects .cards__container-card {
    width: 27.15vw;
  }
}
@media (max-width: 1024px) {
  .home__biography {
    column-gap: 3rem;
  }
  .home__biography-profile {
    width: 20rem;
  }
  .home__biography .headline__text-name {
    font-size: 2.5rem;
  }
  .home__biography .headline__text-name span {
    font-size: 3rem;
  }
  .home__biography .headline__text-summary {
    color: var(--three);
    font-family: var(--paragraph);
    font-size: 0.8rem;
  }
  .home__biography .headline__container {
    column-gap: 1rem;
  }
  .about__hability-information-paragraph {
    font-size: 0.8rem;
  }
  .about__hability .skills {
    grid-template-columns: repeat(auto-fit, minmax(7rem, 8rem));
    grid-template-rows: repeat(auto-fit, minmax(7rem, 8rem));
    gap: 1.5rem;
  }
  .about__hability .skills__information {
    row-gap: 1rem;
    padding: 1.5rem;
  }
  .about__hability .skills__information-header h3 {
    font-size: 1.5rem;
  }
  .about__hability .skills__information-header .close {
    width: 1.5rem;
    height: 1.5rem;
  }
  .about__hability .skills__information-content p {
    font-size: 0.7rem;
  }
  .about__container {
    position: static;
  }
  .project__projects .cards__container-card {
    width: 41.5vw;
  }
}
@media (max-width: 960px) {
  header .nav {
    display: block;
    position: absolute;
    right: 0;
    top: -2rem;
    width: fit-content;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column;
    row-gap: 2rem;
    padding: 2rem 7vw 50% 6rem;
    z-index: 925;
    background-color: var(--firstDark);
    clip-path: circle(0% at 100% 0%);
    transition: all 1s ease-in-out;
  }
  header .nav__close {
    display: block;
    height: 2rem;
    width: fit-content;
    color: var(--mainFixed);
    margin-bottom: 2rem;
  }
  header .nav__close:active {
    color: var(--alternativeFixed);
  }
  header .nav__section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: transparent;
    height: 2rem;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
    padding: 0;
  }
  header .nav__section span {
    font-size: 1.5rem;
    color: var(--mainFixed);
  }
  header .nav__section::after {
    content: none;
  }
  header .nav__section:active span {
    color: var(--alternativeFixed);
  }
  header .nav__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    column-gap: 2rem;
    position: absolute;
    bottom: 3rem;
    left: 1rem;
    width: calc(100% - 2rem);
  }
  header .nav__container-links {
    color: var(--alternativeFixed);
    cursor: pointer;
    overflow: hidden;
    position: relative;
    padding: 0.75rem 2rem 0.75rem 1rem;
    border-radius: 1rem;
    background-color: var(--mainFixed);
    box-shadow: 0 5px 5px var(--opacityFixed);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    column-gap: 0.5rem;
    padding: 1rem;
    border-radius: 50%;
  }
  header .nav__container-links .svg {
    width: fit-content;
    height: 1rem;
    transition: 0.4s all;
  }
  header .nav__container-links .title {
    font-family: var(--paragraph);
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    transition: 0.4s all;
  }
  header .nav__container-links .arrow {
    width: auto;
    height: 1rem;
    position: absolute;
    right: 0.75rem;
    opacity: 0;
    transition: 0.4s all;
    transform: translateX(-10rem);
  }
  header .nav__container-links:hover .svg {
    opacity: 0;
    transform: translateX(-1.5rem);
  }
  header .nav__container-links:hover .title {
    transform: translateX(-1.5rem);
  }
  header .nav__container-links:hover .arrow {
    opacity: 1;
    transform: translateX(0);
  }
  header .nav__container-links .svg {
    height: 1.5rem;
  }
  header .nav__container-links .title {
    display: none;
  }
  header .nav__container-links .arrow {
    display: none;
  }
  header .nav__container-links:hover .svg {
    opacity: 1;
    transform: translateX(0);
  }
  header .nav__container-links:active {
    filter: brightness(0.8);
  }
  header .active-menu {
    position: absolute;
    z-index: 925;
    clip-path: circle(200% at 100% 0%);
  }
  header .menu {
    display: block;
  }
  header .menu__svg {
    width: 2rem;
    color: var(--alternative);
  }
  .home__biography {
    flex-direction: column;
  }
  .home__biography-profile {
    width: 17rem;
  }
  .home__biography .headline__text {
    font-size: 1rem;
  }
  .home__biography .headline__text-name {
    font-size: 2rem;
  }
  .home__biography .headline__text-name span {
    font-size: 3rem;
  }
  .home__biography .headline__text-summary {
    font-size: 0.8rem;
  }
  .home__biography .headline__container {
    column-gap: 1rem;
  }
  .home__container {
    height: 15vh;
  }
  .about__hability {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    row-gap: 2rem;
  }
  .about__hability-information {
    width: 100%;
  }
  .about__hability-information-paragraph {
    text-indent: 0;
  }
  .about__hability .skills {
    width: 100%;
  }
  .about__hability .skills .active {
    width: 100%;
    transform: translateX(0);
  }
  .project__profile .container {
    grid-template-areas: "User User" "Image Description" "Image Description";
  }
  .project__profile .container__image {
    width: 10rem;
    height: 10rem;
  }
  .project__profile .container__description-stadistic {
    column-gap: 1rem;
  }
  .project__profile .container__description-stadistic-content h4 {
    font-size: 0.7rem;
  }
}
@media (max-width: 600px) {
  .home__biography-profile {
    width: 15rem;
  }
  .home__biography .headline__text {
    font-size: 1rem;
  }
  .home__biography .headline__text-name {
    font-size: 1.8rem;
  }
  .home__biography .headline__text-name span {
    font-size: 2.5rem;
  }
  .home__biography .headline__text-summary {
    font-size: 0.8rem;
  }
  .home__biography .headline__container {
    column-gap: 1.5rem;
  }
  .home__biography .headline__container-links {
    padding: 1rem;
    border-radius: 50%;
  }
  .home__biography .headline__container-links .svg {
    height: 1.5rem;
  }
  .home__biography .headline__container-links .title {
    display: none;
  }
  .home__biography .headline__container-links .arrow {
    display: none;
  }
  .home__biography .headline__container-links:hover .svg {
    opacity: 1;
    transform: translateX(0);
  }
  .home__biography .headline__container-links:active {
    filter: brightness(0.8);
  }
  .project__projects {
    padding: 0 12vw;
  }
  .project__projects .cards__container-card {
    width: 76vw;
  }
}
@media (max-width: 480px) {
  header .nav {
    width: 100%;
  }
  .home__biography {
    row-gap: 1rem;
  }
  .home__biography-profile {
    width: 13rem;
  }
  .home__biography .headline__text-name {
    font-size: 1.5rem;
  }
  .home__biography .headline__text-name span {
    font-size: 2rem;
  }
  .home__biography .headline__text-summary {
    font-size: 0.7rem;
  }
}
@media (max-width: 375px) {
  .home__biography .headline__text {
    width: 16rem;
  }
  .home__biography .headline__container-links {
    padding: 0.7rem;
  }
  .home__biography .headline__container-links .svg {
    height: 1rem;
  }
}

/*# sourceMappingURL=style.css.map */
