@charset "UTF-8";
/* Definimos las Custom properties */
:root {
  /* Colores */
  --negro: #393939;
  /* Tipografía */
  --tipo-principal: Helvetica, Arial, sans-serif;
  --tipo-secundaria: Verdana;
}

/* (Opcional) Las adaptamos al modo oscuro */
@media (prefers-color-scheme: dark) {
  :root {
    --negro: #ececec;
  }
}
/* Reseteamos los margin y paddings de todas las etiquetas */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

*::before,
*::after {
  display: block;
}

/* Evitamos problemas con las imagenes */
img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* (Opcional) Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* (Opcional) Configuramos el texto que seleccionamos */
::-moz-selection {
  background-color: var(--negro);
  color: var(--blanco);
}
::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
          hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  /* (Opcional) */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/* Reseteamos las tablas */
table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

/* Configuramos la tipografía para toda la web */
body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--tipo-principal);
  color: var(--negro);
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-display: swap;
  font-family: Secular Uno;
  src: url(../media/fonts/secular_uno.ttf);
}
@font-face {
  font-display: swap;
  font-family: Titan One;
  src: url(../media/fonts/titan_one.ttf);
}
@keyframes Loader {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
@keyframes SwipeUp {
  0% {
    bottom: 0;
  }
  50% {
    bottom: 1%;
  }
  100% {
    bottom: 0;
  }
}
@keyframes Move {
  0% {
    background-position-x: 1%;
  }
  50% {
    background-position-x: 100%;
  }
  100% {
    background-position-x: 1%;
  }
}
body {
  width: 100%;
  height: 100%;
  background-color: #232528;
}
body::-webkit-scrollbar {
  width: 5px;
  background: transparent;
}
body::-webkit-scrollbar-thumb {
  background-color: #c82d2d;
  border-radius: 5px;
}

main {
  overflow: hidden;
}

.container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c82d2d;
  z-index: 999;
  -webkit-clip-path: circle(200% at 100% 0%);
          clip-path: circle(200% at 100% 0%);
  transition: -webkit-clip-path 1s ease-in-out;
  transition: clip-path 1s ease-in-out;
  transition: clip-path 1s ease-in-out, -webkit-clip-path 1s ease-in-out;
}
.container__loader {
  position: relative;
}
.container__loader::after, .container__loader::before {
  content: "";
  position: absolute;
  left: -3rem;
  top: -3rem;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background: #232528;
  animation: Loader 1.5s infinite;
}
.container__loader::before {
  animation-delay: 0.4s;
}

.containeractive {
  -webkit-clip-path: circle(0% at 100% 0%);
          clip-path: circle(0% at 100% 0%);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75vw;
  margin: auto;
  padding-top: 5vh;
}
.header__switchbutton {
  outline: none;
  display: flex;
  gap: 0.4rem;
  align-items: center;
  justify-content: center;
}
.header__switchbutton-sun {
  width: 1.2rem;
  height: 1.2rem;
}
.header__switchbutton-moon {
  width: 1rem;
  height: 1rem;
}
.header__switchbutton-checkbox {
  display: none;
}
.header__switchbutton-label {
  display: inline-block;
  width: 2.7rem;
  height: 1.5rem;
  border-radius: 1rem;
  background-color: #c82d2d;
  position: relative;
  cursor: pointer;
}
.header__switchbutton-label::after {
  content: "";
  display: block;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #ffffff;
  position: absolute;
  top: 0.25rem;
  left: 0.3rem;
  right: unset;
  transition: 0.2s ease all;
}
.header__switchbutton-label.active::after {
  left: unset;
  right: 0.3rem;
  background-color: #000000;
}
.header__icon {
  display: none;
}
.header__enlace {
  display: flex;
}
.header__enlace a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 1.5px;
  width: 9rem;
  font-family: Secular Uno;
  color: #ffffff;
  background: transparent;
  font-size: 1rem;
  padding: 0.3rem 1rem;
  border-radius: 0.9rem;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  z-index: 925;
  transition: 0.3s ease all;
}
.header__enlace a span {
  position: relative;
  z-index: 980;
}
.header__enlace a::after {
  content: "";
  width: 100%;
  height: 320%;
  background: #c82d2d;
  position: absolute;
  z-index: 975;
  top: -320%;
  left: 0;
  transition: 0.6s ease-in-out all;
  border-radius: 0px 0px 300px 300px;
}
.header__enlace a:hover {
  color: #232528;
}
.header__enlace a:hover::after {
  top: 0;
}
.header__enlace .headline {
  display: none;
}

.principal {
  width: 75%;
  height: 90vh;
  margin: auto;
}
.principal__biography {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 80%;
  gap: 5rem;
}
.principal__biography-profile {
  display: flex;
  justify-content: center;
  align-items: center;
}
.principal__biography-profile img {
  width: 15rem;
}
.principal__biography .headline {
  width: 100%;
  max-width: 50rem;
}
.principal__biography .headline__greetings {
  font-family: Secular Uno;
  color: #ffffff;
  letter-spacing: 2px;
  font-size: 2rem;
}
.principal__biography .headline__name {
  font-family: Secular Uno;
  color: #ffffff;
  letter-spacing: 2px;
  font-size: 4rem;
  line-height: 1;
  margin-bottom: 2rem;
}
.principal__biography .headline__name span {
  font-family: Titan One;
  color: #F5B82E;
  text-transform: uppercase;
}
.principal__biography .headline__summary {
  font-family: Secular Uno;
  color: #bebebe;
  max-width: 45rem;
  letter-spacing: 2px;
  font-size: 1rem;
  text-align: justify;
}
.principal__biography .headline .red {
  color: #c82d2d;
}
.principal__biography .headline__container {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-top: 1rem;
}
.principal__biography .headline__container-link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 2.5rem;
  width: 100%;
  max-width: 9rem;
  padding-left: 1rem;
  margin-right: 1rem;
  text-decoration: none;
  background-color: #3066be;
  border-radius: 1rem;
  position: relative;
  cursor: pointer;
}
.principal__biography .headline__container-link:hover img {
  opacity: 0;
  visibility: collapse;
}
.principal__biography .headline__container-link:hover .arrow {
  right: 1rem;
  opacity: 1;
  visibility: visible;
}
.principal__biography .headline__container-link:hover h6 {
  position: absolute;
  left: 1rem;
}
.principal__biography .headline__container-link img {
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 0.5rem;
  visibility: visible;
  opacity: 1;
  transition: 0.5s ease-in-out all;
}
.principal__biography .headline__container-link h6 {
  width: 100%;
  font-family: Secular Uno;
  color: #ffffff;
  font-size: 0.8rem;
  letter-spacing: 2px;
  left: 3rem;
  transition: 0.8s ease-in-out all;
}
.principal__biography .headline__container-link .arrow {
  width: 0.5em;
  height: 1rem;
  position: absolute;
  right: 10rem;
  opacity: 0;
  margin: 0;
  visibility: hidden;
  transition: 0.8s ease-in-out all;
}
.principal__slide {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  padding-bottom: 5vh;
  left: 50%;
  bottom: 0;
  z-index: 800;
  cursor: pointer;
  animation: SwipeUp 2s infinite;
}
.principal__slide-title {
  font-family: Secular Uno;
  color: #ffffff;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
.principal__slide-image {
  width: 1.5rem;
  height: 100%;
}
.principal__slide:hover {
  transform: scale(1.05);
}
.principal__container {
  width: 100%;
  height: 25%;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 750;
}
.principal__container-one {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: url(../media/images/wave_one.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 0%;
  animation: Move 300s infinite;
  position: absolute;
  bottom: 0;
}
.principal__container-two {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: url(../media/images/wave_two.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 0%;
  animation: Move 200s reverse infinite;
  position: absolute;
  bottom: 0;
}
.principal__container-three {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: url(../media/images/wave_three.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 0%;
  animation: Move 50s reverse infinite;
  position: absolute;
  bottom: 0;
}

.hability {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 7vh 12.5vw 0 12.5vw;
  background-image: url(../media/images/wave_about.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.hability__about {
  width: 65%;
  display: flex;
  flex-direction: column;
  padding-right: 2rem;
}
.hability__about-title {
  text-align: end;
  font-family: Titan One;
  color: #F5B82E;
  letter-spacing: 0.125rem;
  font-size: 3rem;
  margin-bottom: 2rem;
}
.hability__about-title span {
  color: #c82d2d;
}
.hability__about-summary {
  font-size: 1rem;
  text-align: justify;
  letter-spacing: 0.125rem;
  font-family: Secular Uno;
  color: #ffffff;
  margin-bottom: 1rem;
}
.hability__about-summary span {
  color: #F5B82E;
}
.hability__skills {
  width: 35%;
  height: 90%;
  display: grid;
  align-items: center;
  align-content: center;
  grid-template-columns: repeat(2, 8rem);
  grid-template-rows: repeat(3, 8rem);
  gap: 2rem;
  position: relative;
  overflow: hidden;
  padding: 2rem;
  padding-right: 0;
}
.hability__skills-container {
  width: 100%;
  height: 100%;
  cursor: pointer;
  border-radius: 1.1rem;
  box-shadow: 0 0 10px 1px #000000;
}
.hability__skills-container div {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 1.1rem;
  position: relative;
  margin-bottom: 0.3rem;
  z-index: 750;
}
.hability__skills-container div::after {
  content: "";
  border-radius: 0px 0px 300px 300px;
  position: absolute;
  top: -12rem;
  left: 0;
  width: 100%;
  height: 150%;
  background-color: #ffffff;
  z-index: 725;
  transition: 2s ease all;
}
.hability__skills-container div:hover::after {
  top: 0;
}
.hability__skills-container div img {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 750;
}
.hability__skills-container h5 {
  text-align: center;
  font-size: 0.8rem;
  letter-spacing: 0.125rem;
  font-family: Secular Uno;
  color: #ffffff;
}
.hability__skills-hover {
  position: absolute;
  width: 96.5%;
  height: 96.5%;
  background: #232528;
  border-radius: 10px;
  padding: 2rem;
  box-shadow: 0 0 10px 2px black;
  transform: translateX(-100%);
  transition: 1s ease all;
  z-index: 800;
}
.hability__skills .name {
  position: absolute;
  width: 96.5%;
  height: 96.5%;
  background: #232528;
  border-radius: 10px;
  box-shadow: 0 0 10px 2px #000000;
  padding: 2rem;
  letter-spacing: 0.125rem;
  transform: translateX(2%);
  transition: 1s ease all;
  z-index: 850;
}
.hability__skills .name__icon {
  width: 1.5rem;
  position: absolute;
  right: 0;
  margin-right: 2rem;
  cursor: pointer;
}
.hability__skills .name__title {
  font-family: Titan One;
  color: #F5B82E;
  font-size: 1.3rem;
  margin-bottom: 2rem;
}
.hability__skills .name__title span {
  color: #c82d2d;
}
.hability__skills .name__summary {
  font-family: Secular Uno;
  font-size: 0.85rem;
  letter-spacing: 0.1rem;
  text-align: justify;
}
.hability__skills .name__process {
  font-family: Secular Uno;
  font-size: 0.7rem;
  letter-spacing: 0.125rem;
  margin-top: 2rem;
}
.hability__skills .name__quantity {
  width: 100%;
  height: 0.5rem;
  background: #ffffff;
  border-radius: 4px;
  position: relative;
}
.hability__skills .name__quantity-html {
  content: "";
  position: absolute;
  border-radius: 4px;
  width: 90%;
  height: 100%;
  background-color: #c82d2d;
}
.hability__skills .name__quantity-css {
  content: "";
  position: absolute;
  border-radius: 4px;
  width: 95%;
  height: 100%;
  background-color: #c82d2d;
}
.hability__skills .name__quantity-javascript {
  content: "";
  position: absolute;
  border-radius: 4px;
  width: 60%;
  height: 100%;
  background-color: #c82d2d;
}
.hability__skills .name__quantity-sass {
  content: "";
  position: absolute;
  border-radius: 4px;
  width: 95%;
  height: 100%;
  background-color: #c82d2d;
}
.hability__skills .name__quantity-githud {
  content: "";
  position: absolute;
  border-radius: 4px;
  width: 80%;
  height: 100%;
  background-color: #c82d2d;
}
.hability__skills .name__quantity-photoshop {
  content: "";
  position: absolute;
  border-radius: 4px;
  width: 40%;
  height: 100%;
  background-color: #c82d2d;
}

.project {
  width: 100%;
  height: 100vh;
  padding: 0 12.5vw;
}
.project__profile {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: max-content;
  grid-template-areas: "Image Name" "Image Description" "Image Statistics";
  width: 100%;
  max-width: 70rem;
  position: relative;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}
.project__profile-img {
  grid-area: Image;
  display: inline-block;
  width: 10rem;
  height: 10rem;
  border-radius: 20%;
  box-shadow: 0 0 10px 1px #000000;
}
.project__profile-error {
  grid-area: Name;
  position: absolute;
  width: 0;
  height: 3.4rem;
  padding: 0;
  font-size: 1rem;
  background-color: #c82d2d;
  font-family: Secular Uno;
  color: #232528;
  border-radius: 1rem;
  z-index: 400;
  align-self: center;
  transition: all 0.5s;
}
.project__profile-text {
  grid-area: Name;
  position: absolute;
  width: 0rem;
  padding: 0rem;
  height: 3.4rem;
  background-color: #ffffff;
  font-family: Secular Uno;
  color: #232528;
  border-radius: 1rem;
  z-index: 450;
  outline: none;
  align-self: center;
  transition: all 0.5s;
}
.project__profile-name {
  grid-area: Name;
  z-index: 400;
  width: -moz-max-content;
  width: max-content;
  font-family: Titan One;
  color: #F5B82E;
  font-size: 3rem;
  align-self: center;
}
.project__profile-link {
  grid-area: Name;
  width: -moz-fit-content;
  width: fit-content;
  font-family: Secular Uno;
  color: #ffffff;
  font-size: 0.8rem;
  align-self: center;
}
.project__profile .submit {
  grid-area: Name;
  align-self: center;
  justify-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 2.5rem;
  width: 100%;
  max-width: 9rem;
  padding-left: 1rem;
  margin-right: 1rem;
  text-decoration: none;
  background-color: #3066be;
  border-radius: 1rem;
  position: relative;
  cursor: pointer;
}
.project__profile .submit:hover img {
  opacity: 0;
  visibility: collapse;
}
.project__profile .submit:hover .arrow {
  right: 1rem;
  opacity: 1;
  visibility: visible;
}
.project__profile .submit:hover h6 {
  position: absolute;
  left: 1rem;
}
.project__profile .submit img {
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 0.5rem;
  visibility: visible;
  opacity: 1;
  transition: 0.5s ease-in-out all;
}
.project__profile .submit h6 {
  width: 100%;
  font-family: Secular Uno;
  color: #ffffff;
  font-size: 0.8rem;
  letter-spacing: 2px;
  left: 3rem;
  transition: 0.8s ease-in-out all;
}
.project__profile .submit .arrow {
  width: 0.5em;
  height: 1rem;
  position: absolute;
  right: 10rem;
  opacity: 0;
  margin: 0;
  visibility: hidden;
  transition: 0.8s ease-in-out all;
}
.project__profile-description {
  grid-area: Description;
  width: 83%;
  text-align: justify;
  font-family: Secular Uno;
  color: #ffffff;
  font-size: 1rem;
  margin: 0.5rem 0;
}
.project__profile-follow {
  grid-area: Statistics;
  display: flex;
  flex-direction: row;
  align-self: center;
}
.project__profile-follow li {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  margin-right: 1.5rem;
}
.project__profile-follow li img {
  align-self: center;
  width: 1rem;
  height: 1rem;
}
.project__profile-follow li h6 {
  font-family: Secular Uno;
  color: #ffffff;
  font-size: 1rem;
}

#dark {
  color: #232528;
}

@media (max-width: 1328px) {
  .principal__biography-profile img {
    width: 13rem;
  }
  .principal__biography .headline__greetings {
    font-size: 1.7rem;
  }
  .principal__biography .headline__name {
    font-size: 2.8rem;
  }
  .principal__biography .headline__summary {
    font-size: 0.8rem;
  }
  .principal__biography .headline__container-link {
    margin-right: 1rem;
  }
  .hability__about {
    width: 60%;
  }
  .hability__about-title {
    font-size: 2rem;
  }
  .hability__about-summary {
    font-size: 0.8rem;
  }
  .hability__skills {
    width: 40%;
    grid-template-columns: repeat(2, 7rem);
    grid-template-rows: repeat(3, 7rem);
  }
  .hability__skills .name__title {
    font-size: 1rem;
  }
  .hability__skills .name__summary {
    font-size: 0.75rem;
  }
  .project__profile-img {
    width: 8rem;
    height: 8rem;
  }
  .project__profile-error {
    height: 2.5rem;
  }
  .project__profile-text {
    height: 2.5rem;
  }
  .project__profile-name {
    font-size: 2rem;
  }
  .project__profile-link {
    font-size: 0.8rem;
    margin-top: 0;
  }
  .project__profile-description {
    width: 75%;
    font-size: 0.8rem;
  }
  .project__profile-follow li img {
    width: 1rem;
    height: 1rem;
  }
  .project__profile-follow li h6 {
    font-size: 0.8rem;
  }
}
@media (max-width: 1024px) {
  .principal__biography-profile img {
    width: 12rem;
  }
  .principal__biography .headline__greetings {
    font-size: 2rem;
  }
  .principal__biography .headline__name {
    font-size: 2.5rem;
  }
  .principal__biography .headline__summary {
    font-size: 0.7rem;
  }
  .hability__about {
    width: 60%;
  }
  .hability__about-title {
    font-size: 2rem;
  }
  .hability__about-summary {
    font-size: 0.8rem;
  }
  .hability__skills {
    height: 75%;
    width: 40%;
    grid-template-columns: repeat(2, 6.5rem);
    grid-template-rows: repeat(3, 6.5rem);
  }
  .hability__skills .name__icon {
    width: 1.1rem;
  }
  .hability__skills .name__title {
    font-size: 1.1rem;
    margin-bottom: 1rem;
  }
  .hability__skills .name__summary {
    font-size: 0.7rem;
  }
  .project__profile-description {
    width: 72%;
  }
}
@media (max-width: 960px) {
  body {
    position: relative;
  }
  .header {
    width: 85vw;
  }
  .header__switchbutton-sun {
    width: 1.5rem;
    height: 1.5rem;
  }
  .header__switchbutton-moon {
    width: 1.5rem;
    height: 1.5rem;
  }
  .header__switchbutton-label {
    width: 3.5rem;
    height: 2rem;
    border-radius: 1.5rem;
  }
  .header__switchbutton-label::after {
    width: 1.5rem;
    height: 1.5rem;
  }
  .header__icon {
    display: block;
    z-index: 950;
  }
  .header__icon-image {
    width: 2rem;
    height: 2rem;
  }
  .header .open {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 925;
    -webkit-clip-path: circle(200% at 100% 0%);
            clip-path: circle(200% at 100% 0%);
  }
  .header__enlace {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    padding-top: 20vh;
    z-index: 925;
    background-color: #c82d2d;
    -webkit-clip-path: circle(0% at 100% 0%);
            clip-path: circle(0% at 100% 0%);
    transition: all 1s ease-in-out;
  }
  .header__enlace a {
    width: 90%;
    margin: auto;
    padding: 2rem 0;
    font-size: 2rem;
    border-radius: 2rem;
    transition: 0.3s ease all;
  }
  .header__enlace a span {
    color: #ffffff;
  }
  .header__enlace a::after {
    background-color: #232528;
  }
  .header__enlace a:hover {
    color: #000000;
  }
  .header__enlace .headline {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 15vh;
    gap: 2rem;
    width: 100%;
  }
  .header__enlace .headline__container {
    z-index: 980;
    gap: 1rem;
  }
  .header__enlace .headline__container-link {
    margin: 0;
    padding: 0;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    overflow: hidden;
    justify-content: center;
    background-color: #232528;
  }
  .header__enlace .headline__container-link img {
    width: 2rem;
    height: 2rem;
    margin: 0;
  }
  .header__enlace .headline__container-link::after {
    content: none;
  }
  .principal {
    width: 100%;
    height: 95vh;
    position: relative;
  }
  .principal__biography {
    width: 75vw;
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 1vh;
  }
  .principal__biography .headline {
    width: 100%;
  }
  .principal__biography .headline__greetings {
    font-size: 2.2rem;
  }
  .principal__biography .headline__name {
    font-size: 3.2rem;
  }
  .principal__biography .headline__summary {
    max-width: 100%;
    font-size: 0.9rem;
  }
  .principal__biography .headline__container {
    gap: 1rem;
  }
  .principal__biography .headline__container-link {
    margin: 0;
    padding: 0;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    overflow: hidden;
    justify-content: center;
  }
  .principal__biography .headline__container-link:hover {
    justify-content: center;
  }
  .principal__biography .headline__container-link:hover img {
    opacity: 1;
    visibility: visible;
  }
  .principal__biography .headline__container-link .red {
    width: 1.2rem;
    height: 1.2rem;
    margin: 0;
  }
  .principal__biography .headline__container-link img {
    width: 1.5rem;
    height: 1.5rem;
    margin: 0;
  }
  .principal__biography .headline__container-link h6 {
    display: none;
  }
  .principal__biography .headline__container-link .arrow {
    display: none;
  }
  .principal__biography-profile-wave {
    width: 13rem;
  }
  .principal__slide {
    left: 45%;
  }
  .principal__slide-title {
    font-size: 1rem;
  }
  .hability {
    height: 100%;
    flex-direction: column;
    background-size: contain;
  }
  .hability__about {
    width: 100%;
    padding: 0;
    margin-bottom: 0;
  }
  .hability__about-title {
    text-align: start;
    margin-top: 2rem;
    font-size: 2.5rem;
  }
  .hability__skills {
    width: 100%;
    height: 100%;
    padding: 0;
    justify-items: center;
    grid-template-rows: repeat(2, 8rem);
    grid-template-columns: repeat(3, 8rem);
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .hability__skills-container h5 {
    font-size: 0.8rem;
  }
  .hability__skills-hover {
    padding: 1rem;
    width: 96%;
    height: 97%;
    transform: translateY(-102%);
  }
  .hability__skills .name {
    padding: 1rem;
    width: 96%;
    height: 97%;
    transform: translateY(0);
  }
  .hability__skills .name__icon {
    width: 1.5rem;
  }
  .hability__skills .name__title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  .hability__skills .name__summary {
    font-size: 0.8rem;
  }
  .hability__skills .name__process {
    margin-top: 0.5rem;
  }
  .project__profile {
    grid-template-areas: "Name Name" "Image Description" "Image Statistics" "Image Vacia";
    -moz-column-gap: 1rem;
         column-gap: 1rem;
    padding-top: 3rem;
  }
  .project__profile-img {
    margin-top: 0.5rem;
    width: 8rem;
    height: 8rem;
  }
  .project__profile-error {
    text-align: center;
    height: 2.5rem;
  }
  .project__profile-text {
    height: 2.5rem;
  }
  .project__profile-name {
    grid-area: Name;
    font-size: 2.5rem;
  }
  .project__profile .submit {
    margin: 0;
    padding: 0;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    overflow: hidden;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
  }
  .project__profile .submit:hover {
    justify-content: center;
  }
  .project__profile .submit:hover img {
    opacity: 1;
    visibility: visible;
  }
  .project__profile .submit .red {
    width: 1.2rem;
    height: 1.2rem;
    margin: 0;
  }
  .project__profile .submit img {
    width: 1.5rem;
    height: 1.5rem;
    margin: 0;
  }
  .project__profile .submit h6 {
    display: none;
  }
  .project__profile .submit .arrow {
    display: none;
  }
  .project__profile .submit img {
    width: 1rem;
    height: 1rem;
  }
  .project__profile-link {
    font-size: 1rem;
    margin-top: 0;
  }
  .project__profile-description {
    width: 100%;
    font-size: 0.8rem;
  }
  .project__profile-follow li img {
    width: 1rem;
    height: 1rem;
  }
  .project__profile-follow li h6 {
    font-size: 0.8rem;
  }
}
@media (max-width: 768px) {
  .header__switchbutton-sun {
    width: 1.5rem;
    height: 1.5rem;
  }
  .header__switchbutton-moon {
    width: 1.5rem;
    height: 1.5rem;
  }
  .header__switchbutton-label {
    width: 3rem;
    height: 2rem;
  }
  .header__switchbutton-label::after {
    width: 1.5rem;
    height: 1.5rem;
  }
  .header__icon-image {
    width: 2rem;
    height: 2rem;
  }
  .header__enlace a {
    font-size: 1.5rem;
  }
  .principal__biography .headline__greetings {
    font-size: 2rem;
  }
  .principal__biography .headline__name {
    font-size: 2.5rem;
  }
  .principal__biography .headline__summary {
    max-width: 100%;
    font-size: 0.8rem;
  }
  .principal__biography .headline__container-link {
    width: 3.2rem;
    height: 3.2rem;
  }
  .principal__biography .headline__container-link:hover {
    justify-content: center;
  }
  .principal__biography .headline__container-link img {
    width: 1.2rem;
    height: 1.2rem;
  }
  .principal__biography-profile-wave {
    width: 10rem;
  }
  .principal__container {
    height: 25%;
  }
  .hability__about {
    width: 100%;
    padding: 0;
    margin-bottom: 0;
  }
  .hability__about-title {
    text-align: start;
    margin-top: 0rem;
    margin-bottom: 1rem;
    font-size: 2.5rem;
  }
  .hability__about-summary {
    font-size: 0.7rem;
  }
  .hability__skills {
    width: 100%;
    justify-items: center;
    grid-template-rows: repeat(2, 6rem);
    grid-template-columns: repeat(3, 6rem);
    justify-content: center;
  }
  .hability__skills-container h5 {
    font-size: 0.7rem;
  }
  .hability__skills-hover {
    width: 96%;
    height: 97%;
    transform: translateY(-102%);
  }
  .hability__skills .name {
    width: 96%;
    height: 97%;
    transform: translateY(0);
  }
  .hability__skills .name__icon {
    width: 1rem;
    margin-right: 1rem;
  }
  .hability__skills .name__title {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
  .hability__skills .name__summary {
    font-size: 0.55rem;
  }
  .hability__skills .name__process {
    font-size: 0.6rem;
  }
  .project__profile {
    -moz-column-gap: 0.5rem;
         column-gap: 0.5rem;
  }
  .project__profile-img {
    width: 5rem;
    height: 5rem;
  }
  .project__profile-error {
    height: 2.5rem;
  }
  .project__profile-text {
    height: 2.5rem;
  }
  .project__profile-name {
    font-size: 1.6rem;
  }
  .project__profile-submit {
    margin: 0;
    padding: 0;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    overflow: hidden;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
  }
  .project__profile-submit:hover {
    justify-content: center;
  }
  .project__profile-submit:hover img {
    opacity: 1;
    visibility: visible;
  }
  .project__profile-submit .red {
    width: 1.2rem;
    height: 1.2rem;
    margin: 0;
  }
  .project__profile-submit img {
    width: 1.5rem;
    height: 1.5rem;
    margin: 0;
  }
  .project__profile-submit h6 {
    display: none;
  }
  .project__profile-submit .arrow {
    display: none;
  }
  .project__profile-submit img {
    width: 1rem;
    height: 1rem;
  }
  .project__profile-link {
    font-size: 0.7rem;
  }
  .project__profile-description {
    width: 100%;
    font-size: 0.6rem;
  }
  .project__profile-follow li {
    gap: 0.25rem;
  }
  .project__profile-follow li img {
    width: 0.8rem;
    height: 0.8rem;
  }
  .project__profile-follow li h6 {
    font-size: 0.6rem;
  }
}
@media (max-width: 480px) {
  .header__switchbutton-sun {
    width: 1rem;
    height: 1rem;
  }
  .header__switchbutton-moon {
    width: 1rem;
    height: 1rem;
  }
  .header__switchbutton-label {
    width: 2.5rem;
    height: 1.5rem;
  }
  .header__switchbutton-label::after {
    width: 1rem;
    height: 1rem;
  }
  .header__icon img {
    width: 1.5rem;
    height: 1.5rem;
  }
  .header__enlace a {
    font-size: 1.5rem;
  }
  .principal__biography {
    gap: 7vh;
  }
  .principal__biography-profile img {
    width: 10rem;
  }
  .principal__biography .headline__greetings {
    font-size: 1.7rem;
  }
  .principal__biography .headline__name {
    font-size: 2rem;
  }
  .principal__biography .headline__summary {
    text-align: start;
    font-size: 0.7rem;
  }
  .principal__biography .headline__container-link {
    width: 3rem;
    height: 3rem;
  }
  .principal__biography .headline__container-link:hover {
    justify-content: center;
  }
  .principal__biography .headline__container-link img {
    width: 1rem;
    height: 1rem;
  }
  .principal__slide-title {
    font-size: 0.8rem;
  }
  .principal__slide-image {
    width: 1rem;
  }
  .hability__about-title {
    font-size: 1.7rem;
  }
  .hability__skills {
    height: 22rem;
    align-content: flex-start;
    grid-template-rows: repeat(2, 4.5rem);
    grid-template-columns: repeat(3, 4.5rem);
    gap: 1rem;
    row-gap: 2rem;
  }
  .hability__skills-container h5 {
    font-size: 0.55rem;
  }
  .hability__skills-hover {
    padding: 1rem;
  }
  .hability__skills .name {
    padding: 1rem;
  }
  .hability__skills .name__title {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
  .hability__skills .name__summary {
    font-size: 0.55rem;
  }
  .hability__skills .name__process {
    font-size: 0.6rem;
  }
  .hability__skills .name__quantity {
    height: 0.3rem;
  }
  .project__profile-img {
    width: 4.5rem;
    height: 4.5rem;
  }
  .project__profile-error {
    font-size: 0.6rem;
    height: 1.5rem;
  }
  .project__profile-text {
    font-size: 0.6rem;
    height: 1.5rem;
  }
  .project__profile-name {
    font-size: 1.2rem;
    margin: 0;
  }
  .project__profile .submit {
    margin: 0;
    padding: 0;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    overflow: hidden;
    justify-content: center;
    width: 1.8rem;
    height: 1.8rem;
  }
  .project__profile .submit:hover {
    justify-content: center;
  }
  .project__profile .submit:hover img {
    opacity: 1;
    visibility: visible;
  }
  .project__profile .submit .red {
    width: 1.2rem;
    height: 1.2rem;
    margin: 0;
  }
  .project__profile .submit img {
    width: 1.5rem;
    height: 1.5rem;
    margin: 0;
  }
  .project__profile .submit h6 {
    display: none;
  }
  .project__profile .submit .arrow {
    display: none;
  }
  .project__profile .submit img {
    width: 0.7rem;
    height: 0.7rem;
  }
  .project__profile-link {
    font-size: 0.55rem;
  }
  .project__profile-description {
    font-size: 0.55rem;
  }
  .project__profile-follow li {
    display: flex;
    flex-direction: row;
    gap: 0.1rem;
    margin-right: 0.5rem;
  }
  .project__profile-follow li img {
    width: 0.5rem;
    height: 0.5rem;
  }
  .project__profile-follow li h6 {
    font-size: 0.4rem;
  }
}
@media (max-width: 375px) {
  .header {
    width: 85vw;
    padding-top: 3vh;
  }
  .header__switchbutton-sun {
    width: 1rem;
    height: 1rem;
  }
  .header__switchbutton-moon {
    width: 1rem;
    height: 1rem;
  }
  .header__switchbutton-label {
    width: 3rem;
    height: 1.7rem;
  }
  .header__switchbutton-label::after {
    width: 1.2rem;
    height: 1.2rem;
  }
  .header__icon-image {
    width: 1rem;
    height: 1rem;
  }
  .header__enlace a {
    font-size: 1.2rem;
  }
  .principal__biography .headline__greetings {
    font-size: 1.2rem;
  }
  .principal__biography .headline__name {
    font-size: 1.8rem;
  }
  .principal__biography .headline__summary {
    font-size: 0.6rem;
  }
  .principal__biography .headline__container-link {
    width: 2.8rem;
    height: 2.8rem;
  }
  .principal__biography .headline__container-link img {
    width: 1rem;
    height: 1rem;
  }
  .principal__biography-profile img {
    width: 8rem;
  }
  .principal__container {
    height: 25%;
  }
  .hability__about-title {
    font-size: 1rem;
  }
  .hability__about-summary {
    font-size: 0.6rem;
  }
  .hability__skills {
    grid-template-rows: repeat(2, 3.5rem);
    grid-template-columns: repeat(3, 3.5rem);
  }
  .hability__skills-container h5 {
    font-size: 0.5rem;
  }
  .hability__skills-hover {
    padding: 0.8rem;
  }
  .hability__skills .name {
    padding: 0.8rem;
  }
  .hability__skills .name__title {
    font-size: 0.8rem;
  }
  .hability__skills .name__summary {
    font-size: 0.55rem;
  }
  .hability__skills .name__process {
    font-size: 0.4rem;
  }
  .hability__skills .name__quantity {
    height: 0.3rem;
  }
}